<div class="info-text-container">
  <div class="info-heading">PRICING</div>
  <p>We offer highly competitive and affordable pricing. The student determines the preferred amount based on the
    requirements of the assignment as well as the number of pages. The tutors submit bids with their preferred prices,
    and the both parties come to an agreement regarding the price. The student is required to enter the estimated price
    for the assignment initially, after which tutors will place suitable bids on the assignment thread.</p>
  <br>
  <p>The following are free with your order and will not be charged:</p>
  <ul>
    <li>Title page</li>
    <li>Bibliography page</li>
    <li>References</li>
    <li>Modifications</li>
  </ul>
  <p>After a tutor has been selected, the student will be required to submit 60% of total price as a sign of commitment.
    Doing so assures tutors that the student will make payments for their delivered assignments.</p>
  <p>The website accepts Payments from PayPal as well as other major credit and debit cards.</p>
  <p>A fee of $0.30 + 2.9% will be collected for each payment in form of transaction fee from the online financial
    institutions.</p>
  <p>We ensure that your payments are protected each time you make a purchase, so rest assured that our payment system
    is 100% secure.</p>
</div>
