@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  background: white;
  margin: 0;
}

.spacer {
  flex: 1 1 auto;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 75vh;
}

.padding-0 {
  padding-top: 0 !important;
}

.sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 80px 1rem 1rem;
}

.sidenav {
  padding: 80px 1rem 1rem 1rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: none !important;
}

.profile-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.app-footer {
  padding: 0rem 2rem 1rem 2rem;
  background-color: #714002;
  color: white;
}

.indeterminate-progess-bar {
  z-index: 1000;
  position: fixed !important;
}

.full-width {
  width: 100vw !important;
}

.full-height {
  height: 80vh !important;
}

.text-center {
  text-align: center !important;
}

.pos-rel {
  position: relative
}

.pos-abs {
  position: absolute
}

.pos-fix {
  position: fixed
}

.pos-stc {
  position: static
}

.b-0 {
  bottom: 0
}

.t-0 {
  top: 0
}

.l-0 {
  left: 0
}

.r-0 {
  right: 0
}

.white-button {
  background: white;
  color: black;
}

.blue-button {
  background: deepskyblue;
  color: white !important;
}
