<h4 id="header-name">Question and Answer</h4>
<div class="container hhw-container">
<div class="container" *ngIf="!addFlag">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary hhw-add-button" (click)="addFlag=true; getSubjects()" style="height:35px; width:124px; float: right; margin-top: -24px; margin-right: -40px;">Add Question
      </button>
      <hr>
      <div class="hhw-responsive">
        <!--<table class="table hhw-tutor-table" *ngIf="questionsList.length !=0">
          <thead>
            <tr>
              <th>#</th>
              <th>Question</th>
              <th>Subject</th>
              <th>Price</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let question of questionsList; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{question.title}}</td>
              <td>{{question.subject.name}}</td>
              <td>${{question.price}}</td>
              <td><a href="javascript:void(0)" (click)="showPreview(question)">Preview</a></td>
            </tr>
          </tbody>
        </table>
        <div class="card hhw-empty-card" *ngIf="questionsList.length ==0">
          <div class="card-block text-center">
            <h6>There is no question</h6>
          </div>
        </div>-->
        <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card" *ngFor="let question of questionsList; let i = index">
      <div class="card-header" role="tab" id="headingOne">
        <h6 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
          #{{i + 1}} {{question.title}}
        </a>
          <span style="float:right;" class="badge badge-default" *ngIf="!question.status && !question.optional.selectedTutor">Unanswered</span>
          <span style="float:right;" class="badge badge-info" *ngIf="!question.status && question.optional.selectedTutor">In Progress</span>
          <span style="float:right;" class="badge badge-success" *ngIf="question.status">Answered</span>
        </h6>
      </div>

      <div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p class="text-right">
            <a href="javascript:void(0)" style="float:left">
                <span class="badge badge-info">{{question.bids.length}} Bids</span>
            </a>
            <button class="btn btn-link">
              <i class="fa fa-trash btn btn-link" aria-hidden="true" (click)="deleteQuestion(question)"></i>
              </button>
          </p>
          <p [innerHTML]="question.description"></p>
          <div class="row">
            <div class="col-sm-4">
              <b>{{question.subject.name}}</b>
            </div>
            <div class="col-sm-4 text-center">
              <b>${{question.price}}</b>
            </div>
            <div class="col-sm-4 text-right">
              <b>{{question.deadline | date}}</b>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--End of Questions List-->

  <!--Empty Message-->
  <div class="card hhw-empty-card" *ngIf="!loading && questionsList.length == 0">
    <div class="card-block text-center">
      <h6>Hmmm, Looks like you haven't asked any question.</h6>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="addFlag==true" style="margin-top:15px">
  <div class="row" style="background: #f2f2f2; color: chocolate;">
    <div class="col">
      <h3 class="text-center">Add a Question to Question Bank</h3>
      <hr>
      <form #addForm="ngForm" (submit)="addQuestion()">
        <!--Subject-->
        <h4 class="text-center" style="padding:10px">Question</h4>
        <div class="form-group row">
          <label for="subject" class="col-md-2 col-form-label">Subject</label>
          <div class="col-md-10">
            <select class="form-control" id="subject" name="subject" [(ngModel)]="question.subjectId" #subjectField="ngModel" required>
              <option selected disabled value="">Select a subject</option>
              <option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.name}}</option>
            </select>
            <p *ngIf="subjectField.errors && (subjectField.dirty || subjectField.touched)" class="error-msg">
              <span [hidden]="!subjectField.errors.required">Subject is required</span>
            </p>
          </div>
        </div>

        <div class="form-group row">
          <label for="title" class="col-md-2 col-form-label">Question</label>
          <div class="col-md-10">
            <input class="form-control" type="text" id="title" name="title" [(ngModel)]="question.title" placeholder="Enter Question"
              #titleField="ngModel" required>
            <p *ngIf="titleField.errors && (titleField.dirty || titleField.touched)" class="error-msg">
              <span [hidden]="!titleField.errors.required">Title is required</span>
            </p>
          </div>
        </div>

        <div class="form-group row">
          <label for="question" class="col-md-2 col-form-label">Question Details</label>
          <div class="col-md-10">
            <div [froalaEditor] [(froalaModel)]="question.description" id="question"></div>
          </div>
        </div>

        <div class="form-group row">
          <label for="deadline" class="col-md-2 col-form-label">Deadline</label>
          <div class="col-md-10">
            <input type="date" name="deadline" id="deadline" #deadlineField [value]="question.deadline | date:'yyyy-MM-dd'" (input)="question.deadline = parseDate($event.target.value)"
              required/>
            <p *ngIf="deadlineField.errors && (deadlineField.dirty || deadlineField.touched)" class="error-msg">
              <span [hidden]="!deadlineField.errors.required">Deadline is required</span>
            </p>
          </div>
        </div>

        <div class="form-group row">
          <label for="attachments" class="col-md-2 col-form-label">Attachments</label>
          <div class="col-md-10">
            <input class="form-control" type="file" multiple id="attachments" name="attachments" (change)="attachmentsSelect($event, false)">
          </div>
        </div>

        <div class="form-group row">
          <label for="price" class="col-md-2 col-form-label">Price</label>
          <div class="col-md-10">
            <input class="form-control" type="number" id="price" min="0" name="price" [(ngModel)]="question.price" #priceField="ngModel"
              required>
            <p *ngIf="priceField.errors && (priceField.dirty || priceField.touched)" class="error-msg">
              <span [hidden]="!priceField.errors.required">Price is required</span>
            </p>
          </div>
        </div>

        <h4 class="text-center" style="padding:10px">Answer</h4>

        <div class="form-group row">
          <label for="answer" class="col-md-2 col-form-label">Answer</label>
          <div class="col-md-10">
            <div [froalaEditor] [(froalaModel)]="answer.description" id="answer"></div>
          </div>
        </div>

        <div class="form-group row">
          <label for="answerPreview" class="col-md-2 col-form-label">Answer preview</label>
          <div class="col-md-10">
            <div [froalaEditor] [(froalaModel)]="answer.preview" id="answerPreview"></div>
          </div>
        </div>

        <div class="form-group row">
          <label for="attachments" class="col-md-2 col-form-label">Attachments</label>
          <div class="col-md-10">
            <input class="form-control" type="file" multiple id="attachments" name="attachments" (change)="attachmentsSelect($event, false)">
          </div>
        </div>

        <div class="text-right" style="padding:15px">
          <button type="button" class="btn btn-secondary" style="margin-right:10px" (click)="addFlag=false; clearData()">Cancel
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid || answer.id || loading">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
