.question {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid grey;
    box-shadow: 5px 5px 10px;
    background: #fff;
    border-radius: 1%;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 700;
}

.hhw-student-table {
    margin-top: 15px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.hhw-empty-card{
    margin-top: 15px;
}

.hhw-responsive{
    overflow-x: auto;
}

