<!--Container-->
<div class="container hhw-container">
  <h4 class="text-center">My Questions</h4>
  <hr>
  <!--Questions List-->
  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card" *ngFor="let question of questionsList; let i = index">
      <div class="card-header" role="tab" id="headingOne">
        <h6 class="mb-0">
          <a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">
          #{{i + 1}} {{question.title}}
        </a>
          <span style="float:right;" class="badge badge-default" *ngIf="!question.status && !question.optional.selectedTutor">Unanswered</span>
          <span style="float:right;" class="badge badge-info" *ngIf="!question.status && question.optional.selectedTutor">In Progress</span>
          <span style="float:right;" class="badge badge-success" *ngIf="question.status">Answered</span>
        </h6>
      </div>

      <div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <p class="text-right">
            <a href="javascript:void(0)" style="float:left">
                <span class="badge badge-info">{{question.bids.length}} Bids</span>
            </a>

            <button class="btn btn-link">
              <i class="fa fa-pencil" aria-hidden="true" (click)="editQuestion(question)"></i>
              </button>
            <button class="btn btn-link">
              <i class="fa fa-trash btn btn-link" aria-hidden="true" (click)="deleteQuestion(question)"></i>
              </button>
          </p>
          <p [innerHTML]="question.description"></p>
          <div class="row">
            <div class="col-sm-4">
              <b>{{question.subject.name}}</b>
            </div>
            <div class="col-sm-4 text-center">
              <b>${{question.price}}</b>
            </div>
            <div class="col-sm-4 text-right">
              <a href="javascript:void(0)" (click)="seeAnswer(question)">See Details</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--End of Questions List-->

  <!--Empty Message-->
  <div class="card hhw-empty-card" *ngIf="!loading && questionsList.length == 0">
    <div class="card-block text-center">
      <h6>Hmmm, Looks like you haven't asked any question.</h6>
    </div>
  </div>
  <!--End of Empty Message-->
</div>
<!--End of Container-->


<!--Tutors Modal-->
<ng-template #tutorsModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Tutors List</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="addForm.valid" novalidate #addForm="ngForm">
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tutors</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tutor of tutorList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{tutor.first_name +" "+ tutor.last_name}}</td>
            <td>${{tutor.price}}</td>
            <td><a href="javascript:void(0)" (click)="selectTutor(tutor, selectedQuestion)">Select</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</ng-template>
<!--End of tutors Modal-->

<!--Talk Modal-->
<ng-template #talkModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title">
      <img [src]="tutor?.profile_picture || 'assets/images/user.png'" class="navbar-profile"> {{tutor?.first_name}} {{tutor?.last_name}}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body chat-box-modal">
    <p *ngFor="let msg of messages" [ngClass]="{'text-right chat-box-student bg-info':msg.userId == currentUser.info.id, 'text-left chat-box-tutor bg-warning': msg.userId == tutor.id}">
      {{msg.message}}</p>
    <p *ngIf="!messages.length" style="color: darkgray;">Start a conversation with the tutor</p>
  </div>
  <div class="modal-footer">
    <form (ngSubmit)="send()" #form="ngForm" class="col-sm-12 row">
      <div class="col-xs-10 col-sm-10">
        <input type="text" class="chat-box-input" name="message" [(ngModel)]="message" required placeholder="Start typing...">
      </div>
      <div class="col-xs-2 col-sm-2">
        <button type="submit" class="btn btn-link chat-box-button" [disabled]="form.invalid"><i class="fa fa-send"></i></button>
      </div>
    </form>
  </div>
</ng-template>
<!--End of talk Modal-->
