<div class="info-text-container">
  <div class="info-heading">TERMS AND CONDITIONS</div>
  <p><strong>General terms</strong></p>
  <p>The use of the website and its offerings is regarded as being an agreement to abide by the terms and conditions. If
    you do not agree with the terms and conditions, then you should refrain from using the website’s products, services,
    or any offerings. If you have any questions or enquiries regarding the use of the website, kindly contact the site
    administrator for assistance. </p>
  <p>he term “User” refers to anyone who has access to the website’s services including students, parents, tutors, and/
    or other users. The term “Tutor” represents an individual who provides homework assistance. </p>
  <p>You must understand and accept the terms of use for www.helpinhomework.org as stated below, before using any of our
    services.</p>
  <br>
  <p><strong>Copyright statement</strong></p>
  <p>You warrant that any material you send us does not breach any third party’s copyright or infringe on any third
    party’s intellectual property rights.</p>
  <p>We reserve the exclusive rights of the solutions we provide. You understand that these solutions are intended only
    for personal and non-commercial use. You cannot issue, reprint, duplicate or publish them without our written
    approval.</p>
  <p>We provide solutions only to help you understand your subject material. You cannot copy our answers and hand them
    in at the educational institution you are attending. If you do, we are not accountable for any penalty caused by the
    copying of our solutions.</p>
  <p>Users are prohibited from uploading to the site any content, notes, homework, projects, power points, articles, or
    materials that would carry copyright protections that make the uploading of those materials a violation of copyright
    laws in their schools, colleges, universities, or organizations. It is the student's responsibility to check and
    confirm that any uploaded material is not copyright-protected. Otherwise, it will be assumed that any content
    uploaded to our site is clear of any such violations.</p>
  <br>
  <p><strong>Registration obligations</strong></p>
  <p>In order to use the website’s services, you need to register, open an account, and provide a username and password.
    The user should ensure the maintenance of confidentiality with regards to the username, password, and any account
    information. In the event that a user’s account has been accessed by unauthorized parties, the user should notify
    the site administrator with immediate effect. We will not be held liable for any loss or damage arising out of a
    user’s failure to comply with a failure to comply with privacy requirements.</p>
  <br>
  <p><strong>Limitation on use</strong></p>
  <p>Any services provided to a user are exclusive. They should not be exchanged or transferred to a third party without
    written confirmation from us.</p>
  <p>Limited authority to use the website’s offerings is only granted for non-commercial purposes. Any violations as
    described in the limitations on use warrant for the discontinuation of a user’s membership. </p>
  <p>The use of www.helpinhomework.org is only for homework assistance, and it should not be submitted as original
    content for purposes of obtaining a course credit or grade.</p>
  <br>
  <p><strong>Age restrictions</strong></p>
  <p>You must be 18 years and above to use our services. If you are under 18 years of age, you must obtain permission
    from a parent or a responsible adult to use our services.</p>
  <br>
  <p><strong>Warranty and limitation of liability</strong></p>
  <ul>
    <li>We do not guarantee that our services will be 100% accurate, timely, and complete under all times. However, we
      have implemented measures to ensure that the student’s needs are fulfilled as timely as possible.
    </li>
    <li>We are not responsible for any interruptions or disruptions that you may face in gaining access to the site.
      However, we ensure that adequate support is provided to users who may face hindrances in accessing the site.
    </li>
    <li>We do not concede any liability for any damage or loss of information on your computer, network or server. Users
      should ensure that their information systems are updated with advanced security mechanisms to deter cyber security
      attacks.
    </li>
    <li>We do not ascertain that a user’s access to our website will be 100% error-free. Nonetheless, we have a
      dedicated team of experts who ensure that users benefit from high levels of usability.
    </li>
    <li>We do not guarantee that assistance will be provided for each and every request that is submitted by a user. We
      also do not guarantee that assistance will be provided quickly enough to adequately satisfy the needs of every
      student. Tutoring assistance depends on the availability of tutors to provide assistance on the required
      assignments.
    </li>
    <li>We have the right to limit access to the website for scheduled maintenance and site updates. We are not to be
      held responsible for any failures or losses suffered in with regards to connection errors or routine site
      maintenance. Any maintenance work will be planned such that they cause the least interruptions to users. In the
      event that the site will conduct maintenance operations, users will be duly notified so that they can make
      appropriate arrangements to prevent the maintenance activities from affecting their use of the website.
    </li>
    <li>In the event that unsatisfactory grades are obtained after using any of our services, the site is not liable for
      any negative consequences associated with the poor grades. The student is required to ensure that any work that is
      submitted by a tutor is aligned with all the assignment requirements. Modifications are allowed up to 12 days
      after accessing the assignment solution.
    </li>
    <li>The user is exclusively responsible for all service, telephony and/or other fees and costs connected to access
      and use of the website offerings, and for acquiring and maintaining all computer hardware and other equipment
      required for such access and use.
    </li>
  </ul>
  <br>
  <p><strong>Privacy policy</strong></p>
  <p>We ensure the maintenance and protection of the user’s privacy when using the website’s services. For more
    information pertaining to privacy information, kindly access the Privacy Policy page.</p>
  <br>
  <p><strong>Termination of use</strong></p>
  <p>The website reserves the right to terminate a user’s account based on the infringement of the website’s rules and
    regulations, or as a result of any other reasons as deemed fit. The website may terminate the agreement either
    partly or wholly, at any time as determined fit.</p>
  <br>
  <p><strong>Severable</strong></p>
  <p>In case any of the aforementioned terms gets unenforceable either in part or entirely, the authenticity and
    legitimacy of other terms of the contract will not be impacted.</p>
  <br>
  <p><strong>Amendments</strong></p>
  <p>The terms and conditions may change any time without prior notice</p>
  <br>
</div>
