<div class="container hhw-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center hhw-card-margin">
          <div class="card-header hhw-bg">
            Tutors Analytics
          </div>
          <div class="card-block hhw-card-body">
            <p class="card-text"><b>Pending Requests:</b> {{tutors.length - activeTutorsCount}}</p>
          </div>
          <div class="card-footer text-muted hhw-bg">
            <small class="text-muted"> Total Tutors: {{tutors.length}}</small>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card text-center hhw-card-margin">
          <div class="card-header hhw-bg">
            Students Analytics
          </div>
          <div class="card-block hhw-card-body">
            <p class="card-text"><b>Active Students:</b> {{activeStudentsCount}}</p>
            <p class="card-text"><b>Inactive Students:</b> {{students.length - activeStudentsCount}}</p>
          </div>
          <div class="card-footer text-muted hhw-bg">
            <small class="text-muted"> Total Students: {{students.length}}</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center hhw-card-margin">
          <div class="card-header hhw-bg">
            Payments Analytics
          </div>
          <div class="card-block hhw-card-body">
            <p class="card-text"><b>Total Transactions:</b> {{transactions.length}}</p>
          </div>
          <div class="card-footer text-muted hhw-bg">
            <small class="text-muted"> Total Payments: $ {{totalPayments}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
