<div fxLayout="column" fxLayout-alignn="space-between stretch">
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayout-alignn="space-between stretch">
    <div fxFlex="20">
      <md-select placeholder="All subject" class="full-width p-t-1em">
        <md-option *ngFor="let sub of subject" [value]="sub">
          {{sub}}
        </md-option>
      </md-select>
    </div>
    <div fxFlex>
      <form class="example-form">
        <md-input-container class="example-full-width full-width">
          <input type="tel" mdInput placeholder="Search previously answered notes, Questions, Assignments">
          <md-icon mdSuffix>search</md-icon>
        </md-input-container>
      </form>
    </div>
  </div>
  <div fxLayout="row" fxLayout-alignn="center center">
    <p class="full-width text-center"> Most recent posted/Answered questions</p>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayout-align="space-between stretch">
    <div fxFlex="80">
      <div>
        <p><span>Waiting for answer</span><span>Assignment one</span> </p>
      </div>
      <div>
        <p> this is oral presentation of questions this is oral presentation of questions this is oral 
          presentation of questions this is oral presentation of questions</p>
      </div>
    </div>
    <div fxFlex fxLayout="column" fxLayout.lt-sm="row" fxLayout-align="space-between stretch">
      <div fxFlex="50" class="text-center">
        <p>$20.00</p>
      </div>
      <div fxFlex="50" class="text-center">
        <p>History</p>
      </div>
    </div>

  </div>
</div>