nav.navbar.navbar-inverse.navbar-toggleable-md.bg-primary {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}



.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
    color: #4fc3f7 !important;
    font-size: 20px;
}

.hhw-search-input{
    padding: 10px 20px;
    border-radius: 0;
    letter-spacing: 1px;
    height: 45px;
}



.hhw-search-select{
    border-radius: 0;
    height: 45px !important;
}


@media screen and (min-width:600px){
.hhw-search-col{
    padding : 0;
}
.hhw-search-input{
    border-left: 2px solid lightgray;
}
.hhw-search-select{
    border-right: none !important;
}
}
.full-width{
    width:100% !important;
}
.p-t-1em{
    padding-top:1em;
}