<form (submit)="form.valid && requestTutorPrivileges(form)" novalidate #form="ngForm">
  <md-card>
    <md-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
      <div fxLayout="row" fxLayoutAlign="start">
        <h3>Tutor Application</h3>
      </div>
      <div fxLayout="row" fxLayoutAlign="start">
        <p>Please fill the form below to apply for expert position</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between start">
        <md-input-container fxFlex>
          <input type="text" mdInput placeholder="First Name" required name="first_name"
                 [(ngModel)]="user.first_name"
                 #firstNameField="ngModel">
        </md-input-container>
        <md-input-container fxFlex>
          <input type="text" mdInput placeholder="Last Name" required name="last_name"
                 [(ngModel)]="user.last_name"
                 #lastNameField="ngModel">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <md-input-container fxFlex>
          <input type="email" mdInput placeholder="Enter your email address" required name="email"
                 [(ngModel)]="user.email"
                 #emailField="ngModel" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
          <md-error *ngIf="emailField.invalid && (form.submitted || emailField.touched)">
            Please enter a valid email.
          </md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="!user.id">
        <md-input-container fxFlex>
          <input type="password" mdInput placeholder="Password"
                 required name="password" minlength="6"
                 [(ngModel)]="user.password" #passwordField="ngModel">
          <md-error *ngIf="passwordField.invalid && (form.submitted || passwordField.touched)">
            Your password requires at least 6 characters
          </md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        Subject(s) of Expertise
      </div>
      <md-grid-list cols="4" gutterSize="10px" rowHeight="30px">
        <md-grid-tile
          *ngFor="let subject of subjects; let i = index;"
          [colspan]="1"
          [rowspan]="1">
          <md-checkbox name="subject" [(ngModel)]="subjects[i].checked">{{subject.name}}</md-checkbox>
        </md-grid-tile>
      </md-grid-list>

      <div fxLayout="row" fxLayoutAlign="start stretch">
        <md-input-container fxFlex>
          <input type="url" mdInput name="profileLink1" placeholder="Profile link 1"
                 [(ngModel)]="user.optional.profileLink1">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <md-input-container fxFlex>
          <input type="url" mdInput name="profileLink2" placeholder="Profile link 2"
                 [(ngModel)]="user.optional.profileLink2">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <md-input-container fxFlex>
          <input type="url" mdInput name="profileLink3" placeholder="Profile link 3"
                 [(ngModel)]="user.optional.profileLink3">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <p fxFlex><span>*</span> Here profile link means a link to the online profile where you have worked in the past.
          This will help us in determining your quality of work.</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <md-input-container fxFlex>
                <textarea mdInput md-autosize mdAutosizeMinRows="10" mdAutosizeMaxRows="20" name="whyHireMe"
                          placeholder="Why should we hire you?" [(ngModel)]="user.optional.whyHireMe"
                          maxlength="1000" #messageField required></textarea>
          <md-hint align="end">{{messageField.value.length}} / 1000</md-hint>
          <md-error *ngIf="messageField.touched && messageField.invalid || form.submitted && messageField.invalid">
            Please enter your message.>
          </md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="40">
          Upload your freelancing resume here
        </div>
        <div fxFlex>
          <input type="file" name="file1"
                 [disabled]="loading"
                 (change)="attachmentsSelect($event, 'file1')">
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start stretch">
        <div fxFlex="40">
          Upload anything else you would like to impress us with
        </div>
        <div fxFlex>
          <input type="file" name="file2" (change)="attachmentsSelect($event, 'file2')" [disabled]="loading">
        </div>
      </div>
    </md-card-content>
    <md-card-footer fxLayout="column" fxLayoutAlign="center center">
      <button type="submit" md-raised-button [disabled]="loading">Submit</button>
    </md-card-footer>
  </md-card>
</form>
