<div fxFill>
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <md-tab-group md-stretch-tabs [(selectedIndex)]="activeTabIndex" (selectChange)="fetchQuestions()">
      <md-tab *ngFor="let tab of questionTabs">
        <ng-template md-tab-label>{{tab.label}}</ng-template>
      </md-tab>
    </md-tab-group>
  </div>
  <div fxLayout="row">
    <div class="question-table-container mat-elevation-z8">
      <div class="question-table-header">
        <md-input-container floatPlaceholder="never">
          <input mdInput #filter placeholder="Filter Questions">
        </md-input-container>
      </div>
      <md-table #table [dataSource]="dataSource" mdSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="id">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Question Id</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
        </ng-container>

        <!-- Title Column -->
        <ng-container cdkColumnDef="title">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Title</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.title}}</md-cell>
        </ng-container>


        <!-- Action Column -->
        <ng-container cdkColumnDef="action">
          <md-header-cell *cdkHeaderCellDef> Action</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <button md-raised-button (click)="viewQuestion(row)">
              VIEW
            </button>
            <button md-raised-button [mdMenuTriggerFor]="menu">
              MORE
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item [mdMenuTriggerFor]="disableMenu" *ngIf="row.status != 'disabled'">
                DISABLE
              </button>
              <button md-menu-item *ngIf="row.status == 'disabled'" (click)="enableQuestion(row)">
                ENABLE
              </button>
              <button (click)="deleteQuestion(row)" md-menu-item>
                DELETE
              </button>
            </md-menu>
            <md-menu #disableMenu="mdMenu" [overlapTrigger]="false" yPosition="above">
              <button md-menu-item (click)="disableQuestion(row, 14)">
                14 Days
              </button>
              <button md-menu-item (click)="disableQuestion(row, 30)">
                30 Days
              </button>
            </md-menu>
          </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator
                    [length]="questionsDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </div>
</div>


<!--<h4 id="header-name">List of Question's</h4>-->
<!--<div class="container hhw-container">-->
  <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
    <!--<div class="card" *ngFor="let question of completedQuestions; let i = index">-->
      <!--<div class="card-header" role="tab" id="headingOne">-->
        <!--<h6 class="mb-0">-->
          <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">-->
          <!--#{{i + 1}} {{question.title}}-->
        <!--</a>-->
          <!--<span style="float:right;" class="badge badge-default" *ngIf="!question.status && !question.optional.selectedTutor">Unanswered</span>-->
          <!--<span style="float:right;" class="badge badge-info" *ngIf="!question.status && question.optional.selectedTutor">In Progress</span>-->
          <!--<span style="float:right;" class="badge badge-success" *ngIf="question.status">Answered</span>-->
        <!--</h6>-->
      <!--</div>-->

      <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
        <!--<div class="card-block">-->
          <!--<p class="text-right">-->
            <!--<a href="javascript:void(0)" style="float:left">-->
                <!--<span class="badge badge-info">{{question.bids.length}} Bids</span>-->
            <!--</a>-->
            <!--<button class="btn btn-link">-->
              <!--<i class="fa fa-trash btn btn-link" aria-hidden="true" (click)="deleteQuestion(question)"></i>-->
              <!--</button>-->
          <!--</p>-->
          <!--<p [innerHTML]="question.description"></p>-->
          <!--<div class="row">-->
            <!--<div class="col-sm-4">-->
              <!--<b>{{question.subject.name}}</b>-->
            <!--</div>-->
            <!--<div class="col-sm-4 text-center">-->
              <!--<b>${{question.price}}</b>-->
            <!--</div>-->
            <!--<div class="col-sm-4 text-right">-->
              <!--<b>{{question.deadline | date}}</b>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
