<div class="info-text-container">
  <div class="info-heading">Privacy policy</div>
  <p><strong>Collection of information</strong></p>
  <p>Information is collected when registering on the site. An email address is required during the registration
    process. However, it is possible to visit the site anonymously to view the content.</p>
  <br>
  <p><strong>How the information is used</strong></p>
  <p>The information is used in a variety of ways as described below:</p>
  <ul>
    <li>The personalization of user experience: Information is used to help us to better respond to customers' needs
    </li>
    <li>The improvement of customer service: The information is used to adequately respond to the customer’s needs and
      service requests
    </li>
    <li>The improvement of website usability: Website offerings are improved based on the collected information</li>
    <li>Processing of transactions: All the collected information will not be transferred or sold to third parties,
      other than for the sole reason of providing the requested products or services
    </li>
    <li>Communicating with users: Information will be used to send regular notifications to users, or to respond to
      requests, questions, or inquiries
    </li>
    <li>Research: the information is used in research activities aimed at improving the website’s offerings</li>
    <li>Improvement in communication: Information is used to improve communication with other users</li>
  </ul>
  <br>
  <p><strong>How the information is protected</strong></p>
  <p>We have employed top-notch security measures to ensure that the privacy and confidentiality of the user’s
    information is protected.</p>
  <p>The placement of orders is secure, such that personal information involving personal details and credit cards is
    not stored in our servers. The user is therefore assured that financial transactions are safe and secure.</p>
  <br>
  <p><strong>Disclosing information to third parties</strong></p>
  <p>Information security is a key priority for us. Account details are stored on a protected server, and the latest
    encryption technologies are implemented to protect user information. The website does not sell transfer, or exchange
    personally identifiable information to third parties.</p>
  <p>However, the website may provide user information to third parties who provide assistance in website operations and
    in fulfilling the user’s needs. However, third party partners are only provided with user information if they agree
    to keep it private and confidential.</p>
  <p>Personal information is retained as long as the account is active. Additionally, user information may be disclosed
    to protect the safety of the organization, to investigate fraudulent actions, and to fulfill requests by the law
    enforcement agencies. In the event that you intend on deleting your account, you should contact the
    administrator.</p>
  <br>
  <p><strong>Use of cookies</strong></p>
  <p>The website uses cookies to enhance the user’s experience. The use of cookies is aimed at collecting information
    involving the user’s activities at the website and other online pages.</p>
  <br>
  <p><strong>Modification of account information</strong></p>
  <p>Users can edit or remove their account information whenever they find it necessary. Any changes made are
    automatically updated once the changes are saved.</p>
  <br>
  <p><strong>Age restrictions</strong></p>
  <p>The website does not provide tutoring services to individuals aged 13 years and below. Under no circumstance shall
    individuals in the aforementioned age use the website or its services.</p>
  <br>
  <p><strong>Removal of accounts</strong></p>
  <p>The website retains the right to close down a user’s account if the user has infringed upon the site’s rules and
    regulations, or for any other reason as deemed fit by the site administrator</p>
  <br>
  <p><strong>Changes to the privacy policy</strong></p>
  <p>By using the site, the user agrees to the privacy policy. The website reserves the right to make changes to the
    privacy policy and users will be notified about the changes before they are implemented. Changes will be posted on
    the main webpage and other pages as we find appropriate. Email alerts will also be sent to users to inform them
    about the changes. It is the user’s responsibility to ensure that they familiarize themselves with any changes or
    modifications.</p>

</div>
