<div fxFill>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <md-input-container floatPlaceholder="never" fxFlex="75">
      <input mdInput type="text" placeholder="Invite your tutors to answer this question" (keyup)="filterTutors(query)" [(ngModel)]="query">
    </md-input-container>
    <button md-button class="inviteSelectedTutorsButton" (click)="inviteSelectedTutors()" fxFlex="20">Done</button>
  </div>
  <div fxLayout="row" *ngFor="let tutor of filteredTutors">
    <md-card fxFlex>
      <div fxLayout="row" fxLayoutAlign="start center">
        <img md-card-avatar [src]="tutor.profile_picture"
             onerror="this.onerror=null; this.src='assets/images/user.png'">
        <div fxFlex="3"></div>
        <div fxLayout="column" fxLayoutAlign="center start">
          <div>{{tutor?.username}}</div>
          <!--<div>{{tutor?.optional}}</div>-->
          <!--<div>{{tutor?.optional?.rating}}</div>-->
        </div>
        <div class="spacer"></div>
        <div>
          <button md-button class="selectButton" *ngIf="!tutor.invited && !tutor.selected"
                  (click)="toggleSelectedTutor(tutor)">Select
          </button>
          <button md-button class="deselectButton" *ngIf="!tutor.invited && tutor.selected"
                  (click)="toggleSelectedTutor(tutor)">Deselect
          </button>
          <button md-button *ngIf="tutor.invited" class="invitedButton">Invited</button>
        </div>
      </div>
    </md-card>
  </div>
</div>
