.invitedButton {
  color: white;
  background-color: green;
}

.deselectButton {
  color: white;
  background-color: darkslategrey;
}

.selectButton {
  color: white;
  background-color: blue;
}

.inviteSelectedTutorsButton {
  color: white;
  background-color: #9089ff;
}
