<!--<div class="container hhw-container" id="container-style">-->
  <!--<div id="row-first">-->
    <!--<div class="col">-->
      <!--<h3 class="text-center">Ask a Question</h3>-->
      <!--<hr>-->
      <!--<form #askForm="ngForm" (submit)="editQuestionId != '' ? updateQuestion(): addQuestion()">-->

        <!--&lt;!&ndash;Title&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="title">Enter your question title here:</label>-->
          <!--<input class="form-control" type="text" id="title" name="title" [(ngModel)]="question.title" placeholder="What's your question title?"-->
            <!--#titleField="ngModel" required>-->
          <!--<p *ngIf="titleField.errors && (titleField.dirty || titleField.touched)" class="error-msg">-->
            <!--<span [hidden]="!titleField.errors.required">-->
            <!--Question title is required!-->
          <!--</span>-->
          <!--</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of Title&ndash;&gt;-->

        <!--&lt;!&ndash;Question Description&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="question">Question Description:</label>-->
          <!--<div [froalaEditor] [(froalaModel)]="question.description" style="min-height:150px;"></div>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of Question Description&ndash;&gt;-->

        <!--&lt;!&ndash;Attachments&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="attachments">Select Files To Upload:</label>-->
          <!--<input class="form-control" type="file" multiple id="attachments" name="attachments" (change)="attachmentsSelect($event, false)">-->
        <!--</div>-->
        <!--&lt;!&ndash;End of attachments&ndash;&gt;-->

        <!--&lt;!&ndash;Subject&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="subject">Select Subject:</label>-->
          <!--<p><span class="badge badge-info hhw-subject" *ngFor="let subject of subjects" (click)="question.subjectId = subject.id"-->
              <!--[ngClass]="{'hhw-subject-selected': (question.subjectId === subject.id) }">{{subject.name}}</span></p>-->
          <!--&lt;!&ndash;<select class="form-control" id="subject" name="subject" [(ngModel)]="question.subjectId" #subjectField="ngModel" required>-->
            <!--<option selected disabled value="">Select a subject</option>-->
            <!--<option *ngFor="let subject of subjects" value="{{subject.id}}">{{subject.name}}</option>-->
          <!--</select>&ndash;&gt;-->
          <!--&lt;!&ndash;<p *ngIf="subjectField.errors && (subjectField.dirty || subjectField.touched)" class="error-msg">-->
            <!--<span [hidden]="!subjectField.errors.required">-->
            <!--Subject is required!-->
          <!--</span>-->
          <!--</p>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;End of Subject&ndash;&gt;-->

        <!--&lt;!&ndash;DeadLine&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="deadline">Deadline:</label>-->
          <!--<input type="date" name="deadline" id="deadline" #deadlineField [value]="question.deadline | date:'yyyy-MM-dd'" (input)="question.deadline = parseDate($event.target.value)"-->
            <!--required/>-->
          <!--<p *ngIf="deadlineField.errors && (deadlineField.dirty || deadlineField.touched)" class="error-msg">-->
            <!--<span [hidden]="!deadlineField.errors.required">-->
            <!--Deadline is required!-->
          <!--</span>-->
          <!--</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of Deadline&ndash;&gt;-->



        <!--&lt;!&ndash;Invite Tutors&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="tutors">Who can bid on my-questions?</label>-->

          <!--<div class="row">-->
            <!--<div class="col-sm-6 text-center ">-->
              <!--<div class="hhw-bids" (click)="bidFlag = false" [ngClass]="{'hhw-bids-selected': !bidFlag}">-->
                <!--<h6>Everyone</h6>-->
                <!--<p>All tutors can bid on this question</p>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 text-center">-->
              <!--<div class="hhw-bids" (click)="bidFlag = true" [ngClass]="{'hhw-bids-selected': bidFlag}">-->
                <!--<h6>Invited Tutors Only</h6>-->
                <!--<p>Only the tutor invited by you can bid on this question</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<br>-->
          <!--<input class="form-control" type="email" id="tutors" name="tutors" placeholder="Enter email addresses separates with comma"-->
            <!--[(ngModel)]="tutors" *ngIf="bidFlag" #inviteField="ngModel" >-->
        <!--</div>-->
        <!--&lt;!&ndash;End of Invite Tutors&ndash;&gt;-->

        <!--&lt;!&ndash;Price&ndash;&gt;-->
        <!--<div class="form-group">-->
          <!--<label for="price" style="display:inline-block">Price:</label>&nbsp;&nbsp;-->
          <!--<input class="form-control" type="number" id="price" min="0" name="price" [(ngModel)]="question.price" #priceField="ngModel"-->
            <!--required style="display:inline-block; width:200px; max-width:100%">-->
          <!--<p *ngIf="priceField.errors && (priceField.dirty || priceField.touched)" class="error-msg">-->
            <!--<span [hidden]="!priceField.errors.required">-->
            <!--Price is required-->
          <!--</span>-->
          <!--</p>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of price&ndash;&gt;-->

        <!--&lt;!&ndash;Submit&ndash;&gt;-->
        <!--<div class="form-group row">-->
          <!--<div class="col-12 text-right">-->
            <!--<button type="submit" class="btn btn-primary" [disabled]="askForm.invalid || question.subjectId ==='' || question.description ===''">Submit</button>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;End of submit&ndash;&gt;-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;<div id="row-second">-->
    <!--<div class="card" style="background:bisque;">-->
      <!--<div class="card-block" style="font-size:small;">-->
        <!--<h6 class="card-title">How To Ask</h6>-->
        <!--<p class="card-text"><b> your question about programming?</b></p>-->
        <!--<p class="card-text">We prefer questions that can be answered, not just discussed.</p>-->
        <!--<p class="card-text">Provide details. Share your research.</p>-->
        <!--<p style="float:right">Need Help<a href="#"><span> Click Me</span></a></p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>&ndash;&gt;-->
<!--</div>-->
