/*#container-style{
    margin-top:40px; 
    margin-bottom:30px; 
    width:100%; 
    padding:0px;
}*/
/*.ask-question {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid grey;
    box-shadow: 5px 5px 10px;
    background: #fff;
    border-radius: 3%;
}*/

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 700;
}
/*#row-first{
background: #f2f2f2;
width:79%; 
float:left; 
font-size:smaller;
margin: 0px;
padding: 0px;
margin-left: 5px;
}*/
/*#row-second{
width:19%; 
float:right;
margin: 0px;
padding: 0px;
margin-right: 5px;
}*/
/*@media screen and (max-width: 768px) {
    #row-second {
        display:none;
    }
    #row-first{
        width: 100%;
        margin: 20px auto;
    }
}*/

.hhw-subject{
    padding: 10px 15px;
    border-radius: 20px; 
    margin:10px 20px;
    cursor: pointer;
}

.hhw-subject-selected{
    font-weight: bold;
    border: 5px solid green;
}

.hhw-bids{
    padding: 15px;
    border: 1px solid lightgray;
    cursor: pointer;
}

.hhw-bids-selected{
    border: 5px solid gray;
    font-weight: bold;
    background: #c2c2c2;
}