<br>
<!--Breadcrumb-->
<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/student/ask-a-question">Ask a Question</a></li>
    <li class="breadcrumb-item active">Select Tutor</li>
    <li class="breadcrumb-item active" *ngIf="questionDetails?.optional?.selectedTutor">Receive Answer</li>
    <li class="breadcrumb-item active" *ngIf="paymentStatus === 'complete'">Review Tutor</li>
  </ol>
</div>
<!--End of Breadcrumb-->
<br>
<div class="container hhw-container">

  <!--Tutors List-->
  <div class="row" *ngIf="!questionDetails.optional.selectedTutor">
    <h5>Select A Tutor</h5>
    <div class="col-sm-12 hhw-tutors" *ngFor="let tutor of tutorsList">
      <p>
        <img [src]="tutor.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{tutor.first_name}}
        {{tutor.last_name}}
      </p>
      <div class="row">
        <div class="col">Rating: 4.5</div>
        <div class="col text-center">Bid Price: ${{tutor.price}}</div>
        <div class="col text-right">
          <button class="btn btn-primary" (click)="selectTutor(tutor)">Select</button>
        </div>
      </div>
    </div>
  </div>
  <!--End of Tutors List-->

  <!--Question & Answer Details-->
  <div class="row" *ngIf="questionDetails.optional.selectedTutor && payFlag === false">
    <!--Question Details-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6>{{questionDetails?.title}}
            <span style="float:right; color: #4fc3f7">${{questionDetails?.optional.bidPrice}}</span>
            <span style="float:right; color: red">$<del>{{questionDetails?.price}}</del>&nbsp;&nbsp;&nbsp;</span>
          </h6>

        </div>
        <div class="card-block">
          <p [innerHTML]="questionDetails?.description"></p>
          <p><b>Subject: </b>{{questionDetails?.subject.name}}</p>
        </div>
      </div>
      <button class="btn btn-primary" style="float:right" *ngIf="paymentStatus === '' && answerDetails" (click)="payedAmount = 40; payFlag = true">Pay 40% To See Answer Preview</button>
    </div>
    <!--End of Question Details-->

    <!--Answer Preview-->
    <div class="col-sm-12" *ngIf="paymentStatus === 'preview' && payedAmount === 40">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0">Answer
            <button class="btn btn-warning" style="float:right;margin-top: -20px;margin-right: -20px;">Preview</button>
          </h5>
          <p class="card-text" [innerHTML]="answerDetails?.preview"></p>
        </div>
      </div>
      <button class="btn btn-primary" (click)="payedAmount = 60; payFlag = true" style="float:right">Pay 60% To See Complete Answer</button>
    </div>
    <!--End of Answer Preview-->

    <!--Answer-->
    <div class="col-sm-12" *ngIf="paymentStatus === 'complete'">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0px">Answer</h5>
          <p class="card-text" [innerHTML]="answerDetails?.description"></p>
        </div>
      </div>
      <button class="btn btn-success" (click)="open(reviewModal)" style="float:right">Review tutor</button>

    </div>
    <!--End of Answer-->

    <!--Comments-->
    <div class="col-sm-12">
      <h3 class="hhw-comment-heading">Comments</h3>
      <hr>
      <div class="hhw-comment-box">
        <div *ngFor="let comment of comments">
          <p>
            <img [src]="comment?.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{comment?.user.first_name}}
            {{comment?.user.last_name}}
            <span style="float:right">{{comment?.timestamp | date : 'dd-MMM-yyyy'}}</span>
          </p>
          <p style="margin-left:30px" class="hhw-comment-message">{{comment.message}}</p>
        </div>
      </div>
      <div class="hhw-comment-post">
        <form (ngSubmit)="postComment()" #form="ngForm">
          <textarea class="form-control hhw-comment-input" name="comment" [(ngModel)]="comment" required placeholder="Write your comment here....."></textarea>
          <p class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Comment</button>
          </p>
        </form>
      </div>
    </div>
    <!--End of Comments-->
  </div>
  <!--End of Question & Answer Details-->

  <!--Payment Box-->
  <div class="row" *ngIf="payFlag === true">
    <div class="col">
      <h3 class="text-center">Payment</h3>
      <hr>
      <div class="card payment-card">
        <form class="card-block" (submit)="doPayment()">
          <div class="row">
            <div class="col-md-12 text-right">
              <p>Bill: ${{price}}</p>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Card Number</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="Enter Card Number" [(ngModel)]="paymentDetails.cardNumber"
                  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Expire Date</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="MM/YY" [(ngModel)]="paymentDetails.expireDate" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>CVV</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="Enter CVV" [(ngModel)]="paymentDetails.cvv" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-right">
                <input type="submit" class="btn btn-primary" value="Pay">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--End of Payment Box-->
</div>

<!--Review Modal-->
<ng-template #reviewModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title">
      Review
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="reviewTutor()" #form="ngForm">
    <div class="modal-body">
      <div *ngIf="!reviewDetails.comment">


        <div class="form-group">
          <label for="rating">Rating</label>
          <input type="number" class="form-control" id="rating" name="rating" aria-describedby="emailHelp" [(ngModel)]="review.rating" min="1" max="5"
            required>
        </div>
        <div class="form-group">
          <label for="review">Review</label>
          <textarea class="form-control" id="review" name="review" rows="3" placeholder="Write your review here.." [(ngModel)]="review.text" required></textarea>
        </div>

      </div>

      <div *ngIf="reviewDetails.comment">
        <h5>Your Review</h5>
        <p>{{reviewDetails.comment}}</p>
        <p><b>Rating:</b> {{reviewDetails.rating}}</p>
      </div>
    </div>
    <div class="modal-footer" *ngIf="!reviewDetails.comment">
      <button class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </div>
  </form>

</ng-template>

<!--End of Review Modal-->
