.payment-card{
    margin-bottom:20px; 
    width: 300px; 
    max-width:100%; 
    margin:auto; 
    margin-bottom: 30px;
}

.hhw-tutors{
    padding: 15px 10px;
    border: 1px solid lightgray;
    background: #fff;
    margin-top: 15px;
}

.hhw-comment-heading{
    margin-top: 20px;
    padding: 20px;
    border-bottom: 1px solid;
}

.hhw-comment-box{
    border: 1px  solid ;
    padding: 20px;
}

.hhw-comment-message{
    margin-left: 30px; 
     padding: 10px 10px !important; 
     border: 1px solid lightgray; 
     border-radius: 5px; 
     background: #fff;

}

.hhw-comment-input{
    padding: 20px !important;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}