<div class="container hhw-container">
  <h4>My Answers</h4>
  <hr>
  <div style="margin:20px; overflow-x:auto; padding-bottom: 30px;">
    <!--<ngb-tabset type="pills">-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Answers pending</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let answer of pendingAnswers; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{answer.question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{answer.question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p [innerHTML]="answer.question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{subjectsList | subjectFilter : answer.question?.subjectId}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-left">-->
                      <!--<p>Deadline: <b>{{answer.question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{answer.question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<a href="javascript:void(0)" (click)="seeAnswer(answer)">See Details</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="pendingAnswers.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no new public question</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->


        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Answers previewed</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let answer of previewedAnswers; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{answer.question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{answer.question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p [innerHTML]="answer.question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{subjectsList | subjectFilter : answer.question?.subjectId}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-left">-->
                      <!--<p>Deadline: <b>{{answer.question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{answer.question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<a href="javascript:void(0)" (click)="seeAnswer(answer)">See Details</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="previewedAnswers.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no previewed answer</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Answers completed</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let answer of completedAnswers; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{answer.question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{answer.question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p [innerHTML]="answer.question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{subjectsList | subjectFilter : answer.question?.subjectId}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p>Deadline: <b>{{answer.question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{answer.question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<a href="javascript:void(0)" (click)="seeAnswer(answer)">See Details</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="completedAnswers.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no complete answer</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</ng-template>-->
      <!--</ngb-tab>-->
    <!--</ngb-tabset>-->
  </div>
</div>


<!--Show Answer Modal-->
<ng-template #answerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answer Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background: lightgray; letter-spacing:1px">
    <h5 style="letter-spacing:1px">{{answerDetails.question.title}}</h5>
    <h6 style="letter-spacing:1px; margin-top:20px">Description:</h6>
    <p [innerHtml]="answerDetails.question.description"></p>
    <h6 style="letter-spacing:1px">Answer Preview:</h6>
    <p [innerHtml]="answerDetails.preview"></p>
    <h6 style="letter-spacing:1px">Answer:</h6>
    <p [innerHtml]="answerDetails.description"></p>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>

</ng-template>
