<div class="info-text-container">
  <div class="info-heading">REFUND POLICY</div>
  <p>All payments offered on our site will be regarded as final. However, in some circumstance, refunds will be provided
    with the production of adequate proof. Justifications for refunds include:</p>
  <ul>
    <li>Services were not delivered</li>
    <li>The delivery data and/or time are past due</li>
  </ul>
  <p>Refunds can always be requested for up to 7 days after finalizing the payment. If, in an uncommon event your
    debit/credit card is incorrectly doubly charged, you become entitled to a full refund in which case you must
    immediately let us know.</p>
  <p>Before requesting for refunds, ensure that adequate effort is made to correct the anomaly. If the received
    assignment needs modifications, alert the tutor and request for adjustments. If no assignment is received within the
    due date, you may request for a full refund. Modifications can be requested for up to 4 days after receiving the
    assignment. Contact the tutor to request for assignment modifications. If no response is received, contact the site
    administrator for assistance.</p>
  <p>Posted assignments can be cancelled if there is no tutor assigned. If, after posting of assignment, a tutor is
    assigned, then the assignment cannot be cancelled. In such a case, it can be cancelled only after having mutual
    agreement with the tutor who is working on your assignment. After the tutor is unassigned, then the client can
    cancel the assignment himself by hitting the cancel button. All cancellation solicitations are subject to the
    authority and endorsement of the site.</p>
</div>
