<div class="info-text-container">
  <div class="info-heading">ABOUT US</div>
  <p>&emsp;www.helpinhomework.org was created to assist students with academic and article work. The website was formed
    by a team of passionate professionals with the goal of connecting students with tutors. The online platform serves
    the needs of students at various colleges and universities as well as professionals in different fields. We provide
    one-on-one support and study materials to students and professionals to ensure that you get to realize your fullest
    potential. Joining is free, and you get homework assistance that allows you to get better grades, less stress, and
    save time on academic work. All our services are live, online, and on-demand.</p>
  <br>
  <p>&emsp;We have a team of qualified professionals who provide homework assistance on a wide range of subjects. From
    Math, Engineering, Economics, Statistics, and Physics, to English, Literature, Social Sciences, Human Resource, and
    Marketing, we ensure that you get personalized assistance on your subject and question. Our experts are available
    24/7 to help with quizzes, essays, research thesis and dissertations, and other types of academic assistance. When
    using www.helpinhomework.org, we guarantee you the highest quality content from expert tutors. Tutor response times
    are generally fast, because our tutors are asked to maintain timeliness. If you need help in finding a tutor, email
    us or send a message with your request to support@helpinhomwork.org.</p>
</div>
