<div class="info-text-container">

  <div class="info-heading">FAQ</div>

  <p><strong>How does it work?</strong></p>
  <p>The student posts an assignment specifying the instructions, length, due time, and price. Tutors respond to the students with proposals to complete the assignment. The student selects a tutor to work with and makes an advance payment of 60% for the tutor to start working on the assignment. The student pays the remaining amount once the preview of the answer has been posted on the site. After receiving the final 40% payment, the assignment full view can be seen by the student.</p>
  <br>
  <p><strong>What is a preview?</strong></p>
  <p>Preview is nothing but a trimmed copy of original file in which random paragraphs are removed from original file. Essentially it is 25 to 60% of the original file.</p>
  <br>
  <p><strong>Do I have to pay to use the site?</strong></p>
  <p>Registration is free and no money is charged when posting assignments. Payments are only made after the selection of a tutor to complete an assignment, and when purchasing completed orders.</p>
  <br>
  <p><strong>Can my homework be done in less than 24 hours?</strong></p>
  <p>The student determines the assignment due date and time, and assignments may be requested for shorter than 24 hours.</p>
  <br>
  <p><strong>Is this a legitimate service?</strong></p>
  <p>This is a legitimate service that complies with the law.</p>
  <br>
  <p><strong>What kinds of payment do you accept?</strong></p>
  <p>We accept online payments through PayPal along with major credit/debit cards.</p>
  <br>
  <p><strong>Is using www.helpinhomework.org cheating?</strong></p>
  <p>Not at all! We assist students in expanding their knowledge regarding various topics in various subjects. We provide homework assistance to students based on the understanding that everyone needs a helping hand sometimes. When using the website, you should ensure to uphold the moral and ethical guidelines that have been set forth by your institution. If the use of the website offerings is against your institution’s regulations, you may be liable to punitive or probationary measures by the institution.</p>
  <br>
  <p><strong>Why should I use www.helpinhomework.org over other homework help sites?</strong></p>
  <p>Our screening process is very strict, and we verify the tutors’ credentials before they are permitted to assist students. There are no monthly fees or minimum payments needed to use the site. Every user gets customizes assistance tailored to their needs.</p>

</div>
