
.info-text-container {
    padding: 50px 150px 50px 150px !important;
    text-align: justify;
}

.info-heading {
    margin-bottom: 15px !important;
    font-size: 2em !important;
    font-weight: bold !important;
    text-align: center !important;
}