<form (submit)="contactUs(form)" novalidate #form="ngForm">
  <md-card>
    <md-card-title>Contact Us</md-card-title>
    <md-card-subtitle>You can write us using our contact form below or email us at
      <a href="mailto:support@helpinhomework.org">
        support@helpinhomework.org
      </a>
    </md-card-subtitle>
    <md-card-content fxLayout="column">
      <md-input-container fxFlex>
        <input mdInput placeholder="E-Mail"
               pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required name="email"
               [(ngModel)]="user.email" #emailField="ngModel">
        <md-error *ngIf="emailField.touched && emailField.invalid || form.submitted && emailField.invalid">Please enter
          a valid email.>
        </md-error>
      </md-input-container>
      <md-input-container fxFlex>
                <textarea mdInput md-autosize mdAutosizeMinRows="10" mdAutosizeMaxRows="20" placeholder="Message"
                          maxlength="1000" #messageField required></textarea>
        <md-hint align="end">{{messageField.value.length}} / 1000</md-hint>
        <md-error *ngIf="messageField.touched && messageField.invalid || form.submitted && messageField.invalid">
          Please enter your message.>
        </md-error>
      </md-input-container>
    </md-card-content>
    <button type="submit" md-raised-button>Submit</button>
  </md-card>
</form>
