<md-toolbar class="header">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
  <button md-button routerLink="/home">Help in Homework</button>
  <span *ngFor="let page of common.pages" fxLayout="row" fxHide.lt-lg>
    <md-nav-list class="padding-0">
      <button md-button md-list-item routerLink="{{page?.route}}"> {{ page.name }}</button>
    </md-nav-list>
  </span>
  <span class="spacer"></span>
  <span>
    <md-nav-list class="padding-0">
      <a md-list-item (click)="openDialog()" *ngIf="!currentUser.info">Login/Signup</a>
    </md-nav-list>
    <button md-icon-button [mdMenuTriggerFor]="accountMenu" *ngIf="currentUser.info">
      <ngx-avatar size="40" [src]="currentUser.info.profile_picture" [name]="currentUser.info.name" [value]="':)'" borderColor="#FFF"></ngx-avatar>
    </button>
    <md-menu #accountMenu="mdMenu" [overlapTrigger]="false">
      <button md-menu-item routerLink="/my-account">My Account</button>
      <button md-menu-item *ngIf="currentUser.info" [routerLink]="'/profile/'+currentUser.info.username">My Profile</button>
      <button md-menu-item routerLink="/profile-settings">Profile Settings</button>
      <button md-menu-item (click)="logout()">Logout</button>
    </md-menu>
  </span>
</md-toolbar>
<md-progress-bar mode="indeterminate" class="indeterminate-progess-bar" *ngIf="common.loading"></md-progress-bar>
<md-sidenav-container class="sidenav-container">
  <md-sidenav mode="push" #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item *ngFor="let page of common.pages" routerLink="{{page?.route}}" (click)="sidenav.toggle()">
        {{ page.name }} </a>
    </md-nav-list>
  </md-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="app-footer" fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutAlign.xs="center start">
    <div fxLayout="column">
      <h2>COMPANY</h2>
      <md-list *ngFor="let companyPage of companyPages">
        <md-nav-list>
          <a routerLink="{{companyPage.route}}" (click)="scrollToTop()">
            {{companyPage.name}}
          </a>
        </md-nav-list>
      </md-list>
    </div>
    <div fxLayout="column">
      <h2>HELP</h2>
      <md-list *ngFor="let helpPage of helpPages">
        <md-nav-list>
          <a routerLink="{{helpPage.route}}" (click)="scrollToTop()">
            {{helpPage.name}}
          </a>
        </md-nav-list>
      </md-list>
    </div>
    <div fxLayout="column">
      <h2>LEGAL</h2>
      <md-list *ngFor="let legalPage of legalPages">
        <md-nav-list>
          <a routerLink="{{legalPage.route}}" (click)="scrollToTop()">
            {{legalPage.name}}
          </a>
        </md-nav-list>
      </md-list>
    </div>
    <div fxLayout="column">
      <h2>CONTACT DETAILS</h2>
      <md-list>
        <md-nav-list>
          <a>support@helpinhomework.org</a>
        </md-nav-list>
      </md-list>
      <md-list>
        <md-nav-list>
          <a>+91-8018-359-041</a>
        </md-nav-list>
      </md-list>
      <md-list>
        <md-nav-list>
          <a>Social</a>
        </md-nav-list>
      </md-list>
    </div>
  </footer>
</md-sidenav-container>

<!--Footer-->
<!--<footer class="footer-top hhw-bg" style="width:100%; margin-top:5%;">-->
<!--<div class="row">-->
<!--<div class="col-lg-3 col-md-3">-->
<!--<ul class="list-unstyled clear-margins">-->
<!--<li class="widget-container widget_nav_menu">-->
<!--<h1 class="title-widget">Company</h1>-->
<!--<ul>-->
<!--<li><a routerLink="/about-us" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> About Us</a>-->
<!--</li>-->
<!--<li><a routerLink="/how-it-works" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> How It-->
<!--Works</a></li>-->
<!--<li><a routerLink="/pricing" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> Pricing</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="col-lg-3 col-md-3">-->
<!--<ul class="list-unstyled clear-margins">-->
<!--<li class="widget-container widget_nav_menu">-->
<!--<h1 class="title-widget">Help</h1>-->
<!--<ul>-->
<!--<li><a routerLink="/refund-policy" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> Refund-->
<!--Policy</a></li>-->
<!--<li><a routerLink="/faq" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> FAQ</a></li>-->
<!--<li><a routerLink="/contact-us" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> Contact Us</a>-->
<!--</li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-lg-3 col-md-3">-->
<!--<ul class="list-unstyled clear-margins">-->
<!--<li class="widget-container widget_nav_menu">-->
<!--<h1 class="title-widget">Legal</h1>-->
<!--<ul>-->
<!--<li><a routerLink="/privacy-policy" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i> Privacy-->
<!--Policy</a></li>-->
<!--<li><a routerLink="/terms-and-conditions" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i>-->
<!--Terms and Conditions</a>-->
<!--</li>-->
<!--<li><a routerLink="/connect-with-us" (click)="scrollToTop()"><i class="fa fa-angle-double-right"></i>-->
<!--Connect With Us</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-lg-3 col-md-3">-->
<!--<ul class="list-unstyled clear-margins">-->
<!--<li class="widget-container widget_recent_news">-->
<!--<h1 class="title-widget">Contact Details </h1>-->
<!--<div class="footerp">-->
<!--<p><span class="fa fa-envelope fa-1x"><a-->
<!--href="mailto:support@helpinhomework.org"><strong> support@helpinhomework.org</strong></a></span></p>-->
<!--<p><span class="fa fa-phone fa-1x"><a href="tel:+918018359041"><strong> +91-8018-359-041</strong></a></span>-->
<!--</p>-->
<!--</div>-->
<!--<div class="social-icons">-->
<!--<ul class="nomargin">-->
<!--<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb"-->
<!--id="social"></i></a>-->
<!--<a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw"-->
<!--id="social"></i></a>-->
<!--<a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus-square fa-3x social-gp"-->
<!--id="social"></i></a>-->
<!--<a href="https://www.linkedIn.com/" target="_blank"><i class="fa fa-linkedin-square fa-3x social-em"-->
<!--id="social"></i></a>-->
<!--</ul>-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
<!--&lt;!&ndash;End of footer&ndash;&gt;-->

<!--&lt;!&ndash;Copyrights&ndash;&gt;-->
<!--<div class="container footer-bottom">-->
<!--<div class="row">-->
<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--<div class="copyright">-->
<!--© 2017, Help In Home Work, All rights reserved-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--End of copyrights-->
