<div class="container hhw-container">
  <h4>Browse Questions</h4>
  <hr>
  <div style="margin:20px; overflow-x:auto; padding-bottom: 30px;">
    <!--<ngb-tabset type="pills">-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>New Questions</ng-template>-->


        <!--<ng-template ngbTabContent>-->
          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let question of newQuestionsList; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p>-->
                    <!--<img [src]="question.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{question.user.first_name}}-->
                    <!--{{question.user.last_name}}-->
                  <!--</p>-->
                  <!--<p [innerHTML]="question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{question.subject.name}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p>Deadline: <b>{{question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<input type="number" min="0" [max]="question.price" name="bidPrice" class="form-control" style="display:inline-block; width:60px;"-->
                        <!--[(ngModel)]="bidPrice">-->
                      <!--<a href="javascript:void(0)" (click)="apply(question)">Apply Bid</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="newQuestionsList.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no new public question</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Private Questions</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let question of privateQuestionsList; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p>-->
                    <!--<img [src]="question.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{question.user.first_name}}-->
                    <!--{{question.user.last_name}}-->
                  <!--</p>-->
                  <!--<p [innerHTML]="question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{question.subject.name}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p>Deadline: <b>{{question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<input type="number" min="0" [max]="question.price" name="bidPrice" class="form-control" style="display:inline-block; width:60px;"-->
                        <!--[(ngModel)]="bidPrice">-->
                      <!--<a href="javascript:void(0)" (click)="apply(question)">Apply Bid</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="card hhw-empty-card" *ngIf="privateQuestionsList.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no new private question</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Your Bids</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let question of bidsQuestionsList; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{question.price}}</span>-->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p>-->
                    <!--<img [src]="question.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{question.user.first_name}}-->
                    <!--{{question.user.last_name}}-->
                  <!--</p>-->
                  <!--<p [innerHTML]="question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{question.subject.name}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p>Deadline: <b>{{question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<p><span class="badge badge-info">  {{question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="bidsQuestionsList.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no new bid question</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</ng-template>-->
      <!--</ngb-tab>-->
      <!--<ngb-tab>-->
        <!--<ng-template ngbTabTitle>Accepted Bids</ng-template>-->
        <!--<ng-template ngbTabContent>-->

          <!--<div id="accordion" role="tablist" aria-multiselectable="true">-->
            <!--<div class="card hhw-questions" *ngFor="let question of acceptedBidsQuestionsList; let i = index">-->
              <!--<div class="card-header" role="tab" id="headingOne">-->
                <!--<h6 class="mb-0">-->
                  <!--<a data-toggle="collapse" data-parent="#accordion" [attr.href]="'#collapseOne'+i" aria-expanded="true" [attr.aria-controls]="'collapseOne'+i">#{{i + 1}} {{question.title}}</a>-->
                  <!--<span style="float:right; color: #4fc3f7">${{question.optional.bidPrice}}</span>-->
                  <!--<span style="float:right; color: red">$<del>{{question.price}}</del> &nbsp;&nbsp;</span>-->
                  <!---->
                  <!---->
                <!--</h6>-->
              <!--</div>-->

              <!--<div [id]="'collapseOne'+i" class="collapse" role="tabpanel" aria-labelledby="headingOne">-->
                <!--<div class="card-block">-->
                  <!--<p>-->
                    <!--<img [src]="question.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{question.user.first_name}}-->
                    <!--{{question.user.last_name}}-->
                  <!--</p>-->
                  <!--<p [innerHTML]="question.description"></p>-->
                  <!--<div class="row">-->
                    <!--<div class="col">-->
                      <!--<p><b>{{question.subject.name}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p>Deadline: <b>{{question.deadline | date : 'dd-MMM-yyyy'}}</b></p>-->
                    <!--</div>-->
                    <!--<div class="col text-center">-->
                      <!--<p><span class="badge badge-info">  {{question.bids.length}} Bids</span></p>-->
                    <!--</div>-->
                    <!--<div class="col text-right">-->
                      <!--<a href="javascript:void(0)" (click)="giveAnswer(question)">Give Answer</a>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="card hhw-empty-card" *ngIf="acceptedBidsQuestionsList.length ==0">-->
              <!--<div class="card-block text-center">-->
                <!--<h6>There is no new accepted bids question</h6>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</ng-template>-->
      <!--</ngb-tab>-->
    <!--</ngb-tabset>-->
  </div>




</div>

<ng-template #answerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="addForm.valid && saveAnswer()" novalidate #addForm="ngForm">
    <div class="modal-body">
      <!--Selected Question-->
      <div class="form-group">
        <label for="question">Question</label>
        <input type="text" class="form-control" id="question" name="question" [(ngModel)]="selectedQuestion.title" #questionField="ngModel"
          readonly>
      </div>
      <!--End of Selected Question-->

      <!--Answer-->
      <div class="form-group row">
        <label for="answer" class="col-2 col-form-label">Answer</label>
        <div class="col-10">
          <div [froalaEditor] [(froalaModel)]="answer.description" id="answer"></div>
        </div>
      </div>
      <!--End of Answer-->

      <!--Previewd Answer-->
      <div class="form-group row">
        <label for="answerPreview" class="col-2 col-form-label">Answer preview</label>
        <div class="col-10">
          <div [froalaEditor] [(froalaModel)]="answer.preview" id="answerPreview"></div>
        </div>
      </div>
      <!--End of Previewd Answer-->

      <!--Attachments-->
      <div class="form-group row">
        <label for="attachments" class="col-2 col-form-label">Attachments</label>
        <div class="col-10">
          <input class="form-control" type="file" multiple id="attachments" name="attachments" (change)="attachmentsSelect($event, false)">
        </div>
      </div>
      <!--End of attachments-->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Save</button>
    </div>
  </form>
</ng-template>


<!--Talk Modal-->
<ng-template #talkModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title">
      <img [src]="student?.profile_picture || 'assets/images/user.png'" class="navbar-profile"> {{student?.first_name}} {{student?.last_name}}
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body chat-box-modal">
    <p *ngFor="let msg of messages" [ngClass]="{'text-right chat-box-student bg-info':msg.userId == currentUser.info.id, 'text-left chat-box-tutor bg-warning': msg.userId == student.id}">
      {{msg.message}}</p>
    <p *ngIf="!messages.length" style="color: darkgray;">Start a conversation with the student</p>
  </div>
  <div class="modal-footer">
    <form (ngSubmit)="send()" #form="ngForm" class="col-sm-12 row">
      <div class="col-sm-10 col-xs-10">
        <input type="text" class="chat-box-input" name="message" [(ngModel)]="message" placeholder="Start typing..." required>
      </div>
      <div class="col-sm-2 col-xs-2">
        <button type="submit" class="btn btn-link chat-box-button" [disabled]="form.invalid"><i class="fa fa-send"></i></button>
      </div>
    </form>
  </div>
</ng-template>
<!--End of talk Modal-->
