<!--Navbar-->
<nav class="navbar navbar-inverse navbar-toggleable-md hhw-bg" style="padding: 0px 1rem; box-shadow: 0px 1px 10px grey;">
  <button class="navbar-toggler navbar-toggler-left hhw-navbar-menu" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true" style="color:#f2f2f2 !important"></i>
  </button>
  <a class="navbar-brand hhw-logo" href="#">Logo</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav hhw-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/question-bank">Question Bank</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/signup">Become a Tutor</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/signup">SignUp</a></li>
      </ul>
    </span>
  </div>
</nav>
<!--End Of Navbar-->
<br>
<br>
<!--Contents-->
<div class="container">
  <!--Start Of Reviews-->
  <div class="row">
    <div class="col" style="padding: 20px;">
      <ul class="list-group active" style="text-align: center; color: #f2f2f2; background: cornflowerblue;">
        <h4 style="padding: 1%;">Student Feedback On Our Works</h4>
      </ul>
    </div>

  </div>

  <div *ngIf="reviews.length != 0" style="margin-top:20px; margin-bottom:20px">
    <div class="row" *ngFor="let review of reviews; let i = index">
      <div class="col" style="padding: 20px;">
        <div class="card">
          <div class="card-header bg-primary">Student Review Details</div>
          <div class="card-block">
            <p style="margin-top:2%; float:left">Review {{i + 1}}. {{review.comment}}</p>
            <p style="text-align: -webkit-right;"><b>Answered by</b></p>
            <p style="text-align: -webkit-right;"><i>'{{review.user.first_name}} {{review.user.last_name}}'</i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center" *ngIf="!showMoreFlag">
      <button class="btn btn-info" (click)="skip = skip + 10; getReviews()">Show more</button>
    </div>

  </div>

  <div class="row" *ngIf="reviews.length == 0">
    <div class="col">
      <div class="card">
        <div class="card-block text-center">
          <h4>There is no review.</h4>
        </div>
      </div>
    </div>
  </div>

  <!--End of Reviews-->

</div>
<!--End of Contents-->

