<!--Navbar-->
<nav class="navbar navbar-inverse navbar-toggleable-md hhw-bg hhw-nav-bar">
  <button class="navbar-toggler navbar-toggler-right hhw-navbar-menu" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" [ngStyle]="{'margin-right': user ? '50px' : ''}">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <a class="navbar-brand" routerLink="/home">Logo</a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text" [ngStyle]="{'margin-right': user ? '40px' : ''}">
      <ul class="navbar-nav mr-auto hhw-nav" >
        <li class="nav-item">
          <a class="nav-link hhw-nav-active" routerLink="/question-bank">Question Bank</a>
        </li>
        <li class="nav-item" *ngIf="!user || user.realm == 'student'">
          <a class="nav-link" routerLink="/student/ask-a-question">Ask a Question</a>
        </li>
        <li class="nav-item" *ngIf="user?.realm == 'student'">
          <a class="nav-link" routerLink="/student/my-questions">My Questions</a>
        </li>
        <li class="nav-item" *ngIf="user?.realm == 'student'">
          <a class="nav-link" routerLink="/student/payments">Payments</a>
        </li>
        <li class="nav-item" *ngIf="user?.realm == 'tutor'">
          <a class="nav-link" routerLink="/tutor/my-answers">My Answers</a>
        </li>
        <li class="nav-item" *ngIf="user?.realm == 'tutor'">
          <a class="nav-link" routerLink="/tutor/qna">Q&A</a>
        </li>
        <li class="nav-item" *ngIf="user?.realm == 'tutor'">
          <a class="nav-link" routerLink="/tutor/payments">Payments</a>
        </li>
        <li class="nav-item" *ngIf="!user">
          <a class="nav-link" routerLink="/signup">Become a Tutor</a>
        </li>
        <li class="nav-item hhw-login-btn" *ngIf="!user">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </span>
  </div>
  <div class="btn-group navbar-toggler-right" *ngIf="user">
    <img [src]="user.profile_picture || 'assets/images/user.png'" class="navbar-profile dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-right">
      <a *ngIf="user.realm == 'student'" class="dropdown-item" href="javascript:void(0)" routerLink="/student/profile">Settings</a>
      <a *ngIf="user.realm == 'tutor'" class="dropdown-item" href="javascript:void(0)" routerLink="/tutor/profile">Settings</a>
      <a *ngIf="user.realm == 'admin'" class="dropdown-item" href="javascript:void(0)" routerLink="/admin/profile">Settings</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="openChangePassword(passwordModal)">Change Password</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
<!--End Of Navbar-->

<div class="container hhw-container">

  <div class="row" *ngIf="payFlag === false">
    <!--Question Details-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6>{{questionDetails?.title}}
            <span style="float:right; color: #4fc3f7">${{questionDetails?.price}}</span>
          </h6>

        </div>
        <div class="card-block">
          <p>
            <img [src]="questionDetails?.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{questionDetails?.user.first_name}}
            {{questionDetails?.user.last_name}}
          </p>
          <p [innerHTML]="questionDetails?.description"></p>
          <p><b>Subject: </b>{{questionDetails?.subject.name}}</p>
        </div>
      </div>

      <button class="btn btn-primary" style="float:right" *ngIf="!user" routerLink="/login">Login To See Answer</button>
      <button class="btn btn-primary" style="float:right" *ngIf="user && paymentStatus === ''" (click)="remainingAmount = 40; payFlag = true">Pay 40% To See Answer Preview</button>

    </div>
    <!--End of Question Details-->

    <!--Answer Preview-->
    <div class="col-sm-12" *ngIf="paymentStatus === 'preview' && remainingAmount === 40">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0">Answer
            <button class="btn btn-warning" style="float:right;margin-top: -20px;margin-right: -20px;">Preview</button>
          </h5>
          <p class="card-text" [innerHTML]="answerDetails?.preview"></p>
        </div>
      </div>
      <button class="btn btn-primary" (click)="remainingAmount = 60; payFlag = true" style="float:right">Pay 60% To See Complete Answer</button>
    </div>
    <!--End of Answer Preview-->

    <!--Answer-->
    <div class="col-sm-12" *ngIf="paymentStatus === 'complete'">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0px">Answer</h5>
          <p class="card-text" [innerHTML]="answerDetails?.description"></p>
        </div>
      </div>
      <button class="btn btn-success" (click)="open(reviewModal)" style="float:right">Review tutor</button>

    </div>
    <!--End of Answer-->

    <!--Comments-->
    <div class="col-sm-12">
      <h3 class="hhw-comment-heading">Comments</h3>
      <div class="hhw-comment-box">
        <div *ngFor="let comment of comments">
          <p>
            <img [src]="comment?.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{comment?.user.first_name}}
            {{comment?.user.last_name}}
            <span style="float:right">{{comment?.timestamp | date : 'dd-MMM-yyyy'}}</span>
          </p>
          <p style="margin-left:30px" class="hhw-comment-message">{{comment.message}}</p>
        </div>
      </div>
      <div class="hhw-comment-post" *ngIf="user">
        <form (ngSubmit)="postComment()" #form="ngForm">
          <textarea class="form-control hhw-comment-input" name="comment" [(ngModel)]="comment" required placeholder="Write your comment here....."></textarea>
          <p class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Comment</button>
          </p>
        </form>
      </div>
    </div>
    <!--End of Comments-->
  </div>

  <div class="row" *ngIf="payFlag === true">
    <div class="col">
      <h3 class="text-center">Payment</h3>
      <hr>
      <div class="card payment-card">
        <form class="card-block" (submit)="doPayment()">
          <div class="row">
            <div class="col-md-12 text-right">
              <p>Bill: ${{price}}</p>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Card Number</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="Enter Card Number" [(ngModel)]="paymentDetails.cardNumber"
                  required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Expire Date</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="MM/YY" [(ngModel)]="paymentDetails.expireDate" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>CVV</label>
                <input type="text" name="cardNumber" class="form-control" placeholder="Enter CVV" [(ngModel)]="paymentDetails.cvv" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group text-right">
                <input type="submit" class="btn btn-primary" value="Pay">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



</div>

<!--Review Modal-->
<ng-template #reviewModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title">
      Review
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!reviewDetails">
      <textarea class="form-control" placeholder="Write your review here.." [(ngModel)]="review"></textarea>
    </div>

    <div *ngIf="reviewDetails">
      <h5>Your Review</h5>
      <p>{{reviewDetails}}</p>
    </div>
  </div>
  <div class="modal-footer" *ngIf="!reviewDetails">
    <button class="btn btn-primary" (click)="review && reviewTutor()">Save</button>
  </div>
</ng-template>
<!--End of talk Modal-->

<ng-template #passwordModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <hr>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="changePassword(changePasswordForm)" novalidate #changePasswordForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <label>New Password</label>
        <input type="{{inputType}}" name="password" class="form-control password-input-box" placeholder="Enter a new password" [(ngModel)]="password"
          required minlength="6" #passwordField="ngModel">
        <i class="fa fa-eye password-eye" *ngIf="inputType == 'password'" (click)="inputType = 'text'"></i>
        <i class="fa fa-eye-slash password-eye" *ngIf="inputType == 'text'" (click)="inputType = 'password'"></i>
        <p class="error-msg">
          <span *ngIf="passwordField.touched && passwordField.invalid">Your password needs atleast 6 characters.</span>&nbsp;
        </p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeChangePassword(changePasswordForm)">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid || loading">Change Password
      </button>
    </div>
  </form>
</ng-template>
