<div fxFill>
  <div fxFlex>
    <md-tab-group md-stretch-tabs [(selectedIndex)]="activeTabIndex" (selectChange)="null">
      <md-tab [label]="'Post a Question'">
        <form (submit)="addQuestionForm.valid && addQuestion(addQuestionForm)" novalidate #addQuestionForm="ngForm">
          <div fxLayout="column" fxLayoutAlign="start stretch">
            <div fxLayout="row">
              <img [src]="'assets/images/ask-a-question-top.png'" fxFlex>
            </div>
            <div fxLayout="row">
              <md-input-container fxFlex>
                <input mdInput placeholder="Question title" name="title" [(ngModel)]="question.title" required
                       #titleField="ngModel">
                <md-error *ngIf="titleField.hasError('required')">Required</md-error>
              </md-input-container>
            </div>
            <div fxLayout="row">
              <div [froalaEditor]="editorOptions" [(froalaModel)]="question.description" fxFlex></div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <p fxFlex="30">Attachments:</p>
              <input type="file" multiple name="attachments" (change)="attachmentsSelect($event)">
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <md-input-container fxFlex="40">
                <input mdInput
                       name="date"
                       [MdDatetimepicker]="picker"
                       #resultPickerModel="ngModel"
                       hide-time="false"
                       placeholder="Deadline in EST:"
                       [(ngModel)]="date"
                       [min]="minDate"
                       required>
                <md-error *ngIf="resultPickerModel.hasError('MdDatetimepickerMin')">Invalid time</md-error>
                <md-error *ngIf="resultPickerModel.hasError('required')">Required</md-error>
                <button mdSuffix [mdDatetimepickerToggle]="picker"></button>
              </md-input-container>
              <md-datetimepicker #picker></md-datetimepicker>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <md-select placeholder="Subject" [(ngModel)]="question.subjectId" name="subject" fxFlex="40" required
                         #subjectField="ngModel">
                <md-option *ngFor="let subject of subjects" [value]="subject.id">
                  {{subject.name}}
                </md-option>
              </md-select>
              <md-error *ngIf="subjectField.invalid && (subjectField.touched || addQuestionForm.submitted)">
                Required
              </md-error>

              <md-input-container fxFlex="40">
                <input type="number" mdInput placeholder="Price in USD" name="price" [(ngModel)]="question.price"
                       min="0" required #priceField="ngModel">
                <md-error *ngIf="priceField.hasError('required')">Required</md-error>
              </md-input-container>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
              <button md-raised-button type="submit">Submit</button>
            </div>
          </div>
        </form>
      </md-tab>
      <md-tab [label]="'Pick a Tutor'">
        <div fxLayout="column" fxLayoutAlign="space-around stretch">
          <div fxlayout="row" fxLayoutAlign="space-around stretch">
            <h3>{{question?.title}}</h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <md-list fxFill>
              <button md-button md-list-item fxFlex disabled>
                <md-icon md-list-icon>label</md-icon>
                {{question?.subject?.name}}
              </button>
              <button md-button md-list-item fxFlex disabled>
                <md-icon md-list-icon>account_circle</md-icon>
                {{question?.status === 'unassigned' || question.status === 'cancelled' ? 'Unassigned': 'Assigned'}}
              </button>
              <button md-button md-list-item fxFlex disabled>
                <md-icon md-list-icon>access_time</md-icon>
                {{question?.deadline| date: 'medium'}}
              </button>
              <button md-button md-list-item fxFlex disabled>
                <md-icon md-list-icon>account_balance_wallet</md-icon>
                {{question?.price| currency: 'USD':true}}
              </button>
            </md-list>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <button md-icon-button>
              <img class="profile-circle" [src]="question?.user?.profile_picture"
                   onerror="this.onerror=null; this.src='assets/images/user.png'">
            </button>&nbsp;
            <p>{{question?.user?.username}}</p>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center">
            <div [froalaView]="question?.description" fxFlex></div>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <md-list fxFill>
              <button md-button md-list-item fxFlex>
                <md-icon md-list-icon>mode_edit</md-icon>
                Edit the Question
              </button>
              <button md-button md-list-item fxFlex>
                <md-icon md-list-icon>reply</md-icon>
                Reply
              </button>
              <button md-button md-list-item fxFlex>
                <md-icon md-list-icon>cancel</md-icon>
                Cancel the Question
              </button>
              <button md-button md-list-item fxFlex>
                <md-icon md-list-icon>flag</md-icon>
                Flag the Admin
              </button>
            </md-list>
          </div>
          <div fxlayout="row" fxLayoutAlign="start center">
            SELECT TUTORS TO INVITE
          </div>
          <div fxlayout="row" fxLayoutAlign="start center">
            <div class="inviteTutorWrapper" *ngFor="let tutor of question.invitations">
              <div fxLayout="column" fxLayoutAlign="center center">
                <img md-card-avatar [src]="tutor?.profile_picture"
                     onerror="this.onerror=null; this.src='assets/images/user.png'">
                <p>{{tutor?.username}}</p>
                <p>invited</p>
              </div>
            </div>
            <div (click)="openInviteTutorDialog()">
              <md-icon>add</md-icon>
            </div>
          </div>
        </div>
      </md-tab>
      <md-tab [label]="'Receive Answer'">
      </md-tab>
      <md-tab [label]="'Review Tutor'">

      </md-tab>
    </md-tab-group>
  </div>
</div>
