.inviteTutorWrapper {
  max-height: 120px;
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inviteTutorWrapper img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.inviteTutorWrapper p {
  margin: 0;
}
