<div fxFill>
  <div fxlayout="column" fxLayoutAlign="space-around center" class="profile-cover">
    <div fxFlex="80">
      <div fxLayout="row" fxLayoutAlign="end start">
        <button md-button class="white-button">Block This Tutor</button>
        <button md-button class="white-button">Send Message</button>
        <button md-button class="blue-button">Ask a Question</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start end">
        <div fxFlex="10">
          <ngx-avatar size="100" [src]="currentUser.info.profile_picture" [name]="currentUser.info.name" [value]="':)'"
                      class="profile-avatar" borderColor="#FFF"></ngx-avatar>
        </div>
        <div fxFlex="20">
        </div>
      </div>
    </div>
  </div>
  <md-tab-group md-stretch-tabs>
    <md-tab label="REVIEWS">
      REVIEWS
    </md-tab>
    <md-tab label="NEWS STORE">
      NEWS STORE
    </md-tab>
  </md-tab-group>
</div>
