<div fxFill>
  <div fxLayout="column" fxLayoutAlign="start stretch">
    <md-card>
      <h3>Share your profile and earn more!</h3>
      <div fxLayout="row">
        <md-card fxFlex>
          <div>{{profileLink}}</div>
          <div class="spacer"></div>
          <div fxFlex="10">
            <button>Facebook</button>
          </div>
          <div fxFlex="10">
            <button>Twitter</button>
          </div>
        </md-card>
      </div>
    </md-card>
    <h3>Browse Questions</h3>
    <md-divider></md-divider>
    <md-tab-group md-stretch-tabs [(selectedIndex)]="activeTabIndex" (selectChange)="fetchQuestions()">
      <md-tab *ngFor="let tab of questionTabs">
        <ng-template md-tab-label>{{tab.label}}</ng-template>
      </md-tab>
    </md-tab-group>
    <div fxLayout="row" fxLayoutAlign="start center">
      <h4>Recently posted questions on</h4> &nbsp;
      <md-select placeholder="Subject" [(ngModel)]="selectedSubject" name="subject" (change)="fetchQuestions()"
                 floatPlaceholder="never">
        <md-option [value]="'all'">
          All
        </md-option>
        <md-option *ngFor="let subject of subjects" [value]="subject.id">
          {{subject.name}}
        </md-option>
      </md-select> &nbsp;
      <h4>category</h4>
      <div class="spacer"></div>
      <md-checkbox name="showAssignedTutors" [(ngModel)]="showAssignedTutors" (change)="subjectChanged()"><h4>Show assigned questions</h4></md-checkbox>
    </div>
    <div class="question-table-container mat-elevation-z8">
      <div class="question-table-header">
        <md-input-container floatPlaceholder="never">
          <input mdInput #filter placeholder="Search">
        </md-input-container>
      </div>
      <md-table #table [dataSource]="dataSource" mdSort>

        <!-- Question Column -->
        <ng-container cdkColumnDef="question">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Question</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.title}}</md-cell>
        </ng-container>

        <!-- Replies Column -->
        <ng-container cdkColumnDef="replies">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Replies</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.comments.length}}</md-cell>
        </ng-container>

        <!-- Tutor Column -->
        <ng-container cdkColumnDef="tutor">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Tutor</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.optional?.selectedTutor?.username}}</md-cell>
        </ng-container>

        <!-- DateAsked Column -->
        <ng-container cdkColumnDef="dateAsked">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Date Asked</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.createdAt| date: 'short'}}</md-cell>
        </ng-container>

        <!-- TimeLeft Column -->
        <ng-container cdkColumnDef="timeLeft">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Time Left</md-header-cell>
          <md-cell *cdkCellDef="let row">
          </md-cell>
        </ng-container>

        <!-- Value Column -->
        <ng-container cdkColumnDef="value">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Value</md-header-cell>
          <md-cell *cdkCellDef="let row"> $ {{row.price}}</md-cell>
        </ng-container>

        <!-- BidDeadline Column -->
        <ng-container cdkColumnDef="bidDeadline">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Bid Deadline</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
        </ng-container>

        <!-- BidValue Column -->
        <ng-container cdkColumnDef="bidValue">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Bid Value</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
        </ng-container>

        <!-- Status Column -->
        <ng-container cdkColumnDef="status">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Status</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
        </ng-container>

        <!-- AnswerTime Column -->
        <ng-container cdkColumnDef="answerTime">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Answer Time</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.id}}</md-cell>
        </ng-container>


        <!-- Action Column -->
        <!--<ng-container cdkColumnDef="action">-->
          <!--<md-header-cell *cdkHeaderCellDef> Action</md-header-cell>-->
          <!--<md-cell *cdkCellDef="let row">-->
            <!--<button md-raised-button (click)="viewQuestion(row)">-->
              <!--VIEW-->
            <!--</button>-->
            <!--<button md-raised-button [mdMenuTriggerFor]="menu">-->
              <!--MORE-->
            <!--</button>-->
            <!--<md-menu #menu="mdMenu">-->
              <!--<button md-menu-item [mdMenuTriggerFor]="disableMenu" *ngIf="row.status != 'disabled'">-->
                <!--DISABLE-->
              <!--</button>-->
              <!--<button md-menu-item *ngIf="row.status == 'disabled'" (click)="enableQuestion(row)">-->
                <!--ENABLE-->
              <!--</button>-->
              <!--<button (click)="deleteQuestion(row)" md-menu-item>-->
                <!--DELETE-->
              <!--</button>-->
            <!--</md-menu>-->
            <!--<md-menu #disableMenu="mdMenu" [overlapTrigger]="false" yPosition="above">-->
              <!--<button md-menu-item (click)="disableQuestion(row, 14)">-->
                <!--14 Days-->
              <!--</button>-->
              <!--<button md-menu-item (click)="disableQuestion(row, 30)">-->
                <!--30 Days-->
              <!--</button>-->
            <!--</md-menu>-->
          <!--</md-cell>-->
        <!--</ng-container>-->

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator
                    [length]="questionsDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </div>
</div>
