<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <form (submit)="signin(form)" novalidate #form="ngForm">
      <md-card style="margin-top: 10vh; width: 50vw">
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input type="text" mdInput placeholder="Username or Email"
                   required name="username"
                   [(ngModel)]="user.username" #usernameField="ngModel">
            <md-error *ngIf="usernameField.touched && usernameField.invalid || form.submitted && usernameField.invalid">
              Required
            </md-error>
          </md-input-container>
        </div>
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input type="password" mdInput placeholder="Password"
                   required name="password" minlength="6"
                   [(ngModel)]="user.password" #passwordField="ngModel">
            <md-error *ngIf="passwordField.touched && passwordField.invalid || form.submitted && passwordField.invalid">
              Your password requires at least 6 characters
            </md-error>
          </md-input-container>
        </div>
        <div fxLayout="row">
          <button type="submit" fxFlex md-raised-button [disabled]="loading">Login</button>
        </div>
      </md-card>
    </form>
  </div>
</div>
