<!--<br>-->
<!--Breadcrumb-->
<!--<div>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/student/ask-a-question">Ask a Question</a></li>
    <li class="breadcrumb-item active">Select Tutor</li>
    <li class="breadcrumb-item active" *ngIf="questionDetails?.optional?.selectedTutor">Receive Answer</li>
    <li class="breadcrumb-item active" *ngIf="paymentStatus === 'complete'">Review Tutor</li>
  </ol>
</div>-->
<!--End of Breadcrumb-->
<!--<br>-->
<div class="container hhw-container">

  <!--Question & Answer Details-->
  <div class="row">

    <!--Question Details-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h6>{{questionDetails?.title}}
            <span style="float:right; color: #4fc3f7">${{questionDetails?.optional.bidPrice}}</span>
            <span style="float:right; color: red">$<del>{{questionDetails?.price}}</del>&nbsp;&nbsp;&nbsp;</span>
          </h6>

        </div>
        <div class="card-block">
          <p [innerHTML]="questionDetails?.description"></p>
          <p><b>Subject: </b>{{questionDetails?.subject.name}}</p>
        </div>
      </div>
      <button class="btn btn-primary" style="float:right" *ngIf="!answerDetails" (click)="giveAnswer(answerModal)">Give Answer</button>

    </div>
    <!--End of Question Details-->

    <!--Answer Preview-->
    <div class="col-sm-12" *ngIf="answerDetails">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0">Answer
            <button class="btn btn-warning" style="float:right;margin-top: -20px;margin-right: -20px;">Preview</button>
          </h5>
          <p class="card-text" [innerHTML]="answerDetails?.preview"></p>
        </div>
      </div>
    </div>
    <!--End of Answer Preview-->

    <!--Answer-->
    <div class="col-sm-12" *ngIf="answerDetails">
      <div class="card">
        <div class="card-block">
          <h5 class="text-center" style="padding:10px 0px">Answer</h5>
          <p class="card-text" [innerHTML]="answerDetails?.description"></p>
        </div>
      </div>
    </div>
    <!--End of Answer-->

    <!--Comments-->
    <div class="col-sm-12">
      <h3 class="hhw-comment-heading">Comments</h3>
      <hr>
      <div class="hhw-comment-box">
        <div *ngFor="let comment of comments">
          <p>
            <img [src]="comment?.user.profile_picture || 'assets/images/user.png'" class="navbar-profile"> &nbsp;{{comment?.user.first_name}}
            {{comment?.user.last_name}}
            <span style="float:right">{{comment?.timestamp | date : 'dd-MMM-yyyy'}}</span>
          </p>
          <p style="margin-left:30px" class="hhw-comment-message">{{comment.message}}</p>
        </div>
      </div>
      <div class="hhw-comment-post">
        <form (ngSubmit)="postComment()" #form="ngForm">
          <textarea class="form-control hhw-comment-input" name="comment" [(ngModel)]="comment" required placeholder="Write your comment here....."></textarea>
          <p class="text-right">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Comment</button>
          </p>
        </form>
      </div>
    </div>
    <!--End of Comments-->
  </div>
  <!--End of Question & Answer Details-->


</div>


<ng-template #answerModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Answer</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form (submit)="addForm.valid && saveAnswer()" novalidate #addForm="ngForm">
    <div class="modal-body">
      <!--Selected Question-->
      <div class="form-group">
        <label for="question">Question</label>
        <input type="text" class="form-control" id="question" name="question" [(ngModel)]="questionDetails.title" #questionField="ngModel"
          readonly>
      </div>
      <!--End of Selected Question-->

      <!--Answer-->
      <div class="form-group row">
        <label for="answer" class="col-2 col-form-label">Answer</label>
        <div class="col-10">
          <div [froalaEditor] [(froalaModel)]="answer.description" id="answer"></div>
        </div>
      </div>
      <!--End of Answer-->

      <!--Previewd Answer-->
      <div class="form-group row">
        <label for="answerPreview" class="col-2 col-form-label">Answer preview</label>
        <div class="col-10">
          <div [froalaEditor] [(froalaModel)]="answer.preview" id="answerPreview"></div>
        </div>
      </div>
      <!--End of Previewd Answer-->

      <!--Attachments-->
      <div class="form-group row">
        <label for="attachments" class="col-2 col-form-label">Attachments</label>
        <div class="col-10">
          <input class="form-control" type="file" multiple id="attachments" name="attachments" (change)="attachmentsSelect($event, false)">
        </div>
      </div>
      <!--End of attachments-->

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
      <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Save</button>
    </div>
  </form>
</ng-template>
