.img-icon {
  background: darkgray;
  color: white;

}

.avatar {
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  border-radius: 100;
  border: 6px solid #B3C9CB;
  background-image: url("https://scontent-vie1-1.cdninstagram.com/hphotos-ash/t51.2885-19/10932224_821299211264682_1488190390_a.jpg");
  background-size: cover;
  background-position: 50% 25%;
  -webkit-transition: border 0.5s linear;
  -moz-transition: border 0.5s linear;
  -o-transition: border 0.5s linear;
  transition: border 0.5s linear;
}

.save-btn {
  background: deeppink;
  color: white;
}

.b-10 {
  bottom: 10px;
}
