<div fxFill>
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        Upload a picture
      </div>
      <div>
        <button md-button class="save-btn" (click)="save()">Save</button>
      </div>
    </div>
    <md-divider></md-divider>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="pos-rel">
        <div class="pos-abs t-0 l-0 img-icon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="pos-abs t-0 r-0 img-icon">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <img [src]="user.profile_picture"
             onerror="this.onerror=null; this.src='assets/images/user.png'"
             height="100px" width="100px">
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <input type="file" name="profile_picture" (change)="profileImageChange($event)">
    </div>
    <form (submit)="basicForm.valid && save(basicForm)" novalidate #basicForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>Basic Information</div>
        <button md-button class="save-btn" type="submit">Save</button>
      </div>
      <md-divider></md-divider>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="text" mdInput readonly placeholder="Username" [(ngModel)]="user.username" name="userName">
        </md-input-container>
        <md-input-container fxFlex="40">
          <input type="text" mdInput placeholder="School" [(ngModel)]="user.optional.school" name="school">
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="text" mdInput placeholder="Full Name" [(ngModel)]="user.name" name="name">
        </md-input-container>
        <md-input-container fxFlex="40">
          <input type="email" mdInput placeholder="Email" [(ngModel)]="user.email" name="email"
                 pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                 required #emailField="ngModel">
          <md-error *ngIf="emailField.hasError('required')">Required</md-error>
          <md-error *ngIf="emailField.hasError('pattern')">Please enter a valid email</md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="number" mdInput placeholder="Phone" [(ngModel)]="user.phone" name="phone">
        </md-input-container>
        <div fxFlex="40">
          <span>Gender</span>
          <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="user.gender" name="gender">
            <md-button-toggle value="male">
              <i class="fa fa-mars"></i>
              Male
            </md-button-toggle>
            <md-button-toggle value="female">
              <i class="fa fa-venus"></i>
              Female
            </md-button-toggle>
          </md-button-toggle-group>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="center center">
        <md-input-container>
          <input mdInput
                 #resultPickerModel="ngModel"
                 [mdDatepicker]="resultPicker"
                 [(ngModel)]="date"
                 name="dob"
                 placeholder="Date of Birth">
        </md-input-container>
        <button [mdDatepickerToggle]="resultPicker"></button>
        <md-datepicker
          #resultPicker
          [startView]="'year'">
        </md-datepicker>
      </div>
    </form>
    <form (submit)="accountForm.valid && save(accountForm)" novalidate #accountForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>Account Information</div>
        <button md-button class="save-btn" type="submit">Save</button>
      </div>
      <md-divider></md-divider>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="url" mdInput placeholder="Profile URL" [(ngModel)]="user.optional.profile_url" readonly
                 name="profile_url">
        </md-input-container>
        <md-input-container fxFlex="40">
          <input type="email" mdInput placeholder="Paypal Email" [(ngModel)]="user.paypal_email"
                 name="paypalEmail" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                 required #paypalEmailField="ngModel">
          <md-error *ngIf="paypalEmailField.hasError('required')">Required</md-error>
          <md-error *ngIf="paypalEmailField.hasError('pattern')">Please enter a valid email</md-error>
        </md-input-container>
      </div>
      <div fxlayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <button md-button class="save-btn" type="button" (click)="deactivateAccount()">Deactivate Account</button>
      </div>
    </form>
    <form (submit)="changepasswordForm.valid && changePassword(changepasswordForm)" novalidate
          #changepasswordForm="ngForm">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div>Change Password</div>
      </div>
      <md-divider></md-divider>
      <div fxlayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="password" mdInput placeholder="Current Password" [(ngModel)]="currentPassword"
                 name="currentPassword" required #currentpassField="ngModel">
          <md-error *ngIf="currentpassField.hasError('required')">Required</md-error>
        </md-input-container>
      </div>
      <div fxlayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="password" mdInput placeholder="New Password" [(ngModel)]="newPassword" name="newPassword"
                 required #newPassField="ngModel" minlength="6">
          <md-error *ngIf="newPassField.hasError('required')">Required</md-error>
          <md-error *ngIf="newPassField.hasError('minlength')">Your password should have more than 6 characters.
          </md-error>
        </md-input-container>
      </div>
      <div fxlayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <md-input-container fxFlex="40">
          <input type="password" mdInput placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                 name="confirmPassword" #confirmPasswordField="ngModel">
          <md-hint *ngIf="newPassword && confirmPasswordField.dirty && confirmPassword !== newPassword">Password
            Mismatch
          </md-hint>
        </md-input-container>
      </div>
      <div fxlayout="row" fxLayoutAlign="space-around center" fxLayout.lt-sm="column"
           fxLayoutAlign.lt-sm="space-around stretch">
        <button md-button class="save-btn" type="submit"
                [disabled]="changepasswordForm.invalid || confirmPassword !== newPassword">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
