<div fxFill>
  <div fxlayout="row" fxFlexAlign="end start">
    <button md-raised-button fxFlex (click)="showLogin = !showLogin">
      {{showLogin?'New here? Create an Account':'Already have an Account? Login'}}
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around stretch" fxLayout.lt-md="column" fxLayoutAlign.lt-md="none stretch">
    <div fxLayout="column" fxFlex="20" fxLayoutAlign="center center" fxLayoutAlign.lt-md="none center">
      <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="selected" vertical fxShow.gt-sm fxHide.lt-md>
        <md-button-toggle value="Student">Student</md-button-toggle>
        <md-button-toggle value="Tutor">Tutor</md-button-toggle>
      </md-button-toggle-group>
      <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="selected" fxHide.gt-sm fxShow.lt-md>
        <md-button-toggle value="Student">Student</md-button-toggle>
        <md-button-toggle value="Tutor">Tutor</md-button-toggle>
      </md-button-toggle-group>
    </div>
    <div fxLayout="column" fxFlex fxLayoutAlign="center stretch" fxLayoutAlign.lt-md="none stretch">
      <form (submit)="form.valid && (showLogin?login(form): signup(form))" novalidate #form="ngForm">
        <div fxLayout="row">
          <h2>{{showLogin?'Login':'Signup'}} as {{selected}}</h2>
        </div>
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input type="text" mdInput placeholder="{{showLogin?'Username or Email':'Username'}}"
                   required name="username"
                   [(ngModel)]="user.username" #usernameField="ngModel">
            <md-error *ngIf="usernameField.touched && usernameField.invalid || form.submitted && usernameField.invalid">
              Required
            </md-error>
          </md-input-container>
        </div>
        <div fxLayout="row" *ngIf="!showLogin">
          <md-input-container fxFlex>
            <input type="email" mdInput placeholder="Email"
                   pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" required name="email"
                   [(ngModel)]="user.email" #emailField="ngModel">
            <md-error *ngIf="emailField.touched && emailField.invalid || form.submitted && emailField.invalid">
              Please enter a valid email.
            </md-error>
          </md-input-container>
        </div>
        <div fxLayout="row">
          <md-input-container fxFlex>
            <input type="password" mdInput placeholder="Password"
                   required name="password" minlength="6"
                   [(ngModel)]="user.password" #passwordField="ngModel">
            <md-error *ngIf="passwordField.touched && passwordField.invalid || form.submitted && passwordField.invalid">
              Your password requires at least 6 characters
            </md-error>
          </md-input-container>
        </div>
        <div fxLayout="row" (click)="openForgotDialog()" *ngIf="showLogin">
          Forgot password?
        </div>
        <div fxLayout="row">
          <button type="submit" fxFlex md-raised-button [disabled]="loading">{{showLogin?'Login':'Create Account'}}</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <label>OR</label>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button md-raised-button fxFlex type="button">
            Facebook
          </button>
          <button md-raised-button fxFlex type="button">
            Google
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
