<div fxFill>
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <md-tab-group md-stretch-tabs [(selectedIndex)]="activeTabIndex" (selectChange)="fetchStudents()">
      <md-tab *ngFor="let tab of studentTabs">
        <ng-template md-tab-label>{{tab.label}}</ng-template>
      </md-tab>
    </md-tab-group>
  </div>
  <div fxLayout="row">
    <div class="student-table-container mat-elevation-z8">
      <div class="student-table-header">
        <md-input-container floatPlaceholder="never">
          <input mdInput #filter placeholder="Filter Students">
        </md-input-container>
      </div>
      <md-table #table [dataSource]="dataSource" mdSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container cdkColumnDef="joined">
          <md-header-cell *cdkHeaderCellDef> Joined</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.createdAt| date:'medium'}}</md-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container cdkColumnDef="email">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Email</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.email}}</md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container cdkColumnDef="userName">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Name</md-header-cell>
          <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container cdkColumnDef="action">
          <md-header-cell *cdkHeaderCellDef> Action</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <button md-raised-button (click)="viewStudent(row)">
              VIEW
            </button>
            <button md-raised-button [mdMenuTriggerFor]="menu">
              MORE
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item [mdMenuTriggerFor]="disableMenu" *ngIf="row.status != 'disabled'">
                DISABLE
              </button>
              <button md-menu-item *ngIf="row.status == 'disabled'" (click)="enableStudent(row)">
                ENABLE
              </button>
              <button (click)="deleteStudent(row)" md-menu-item>
                DELETE
              </button>
            </md-menu>
            <md-menu #disableMenu="mdMenu" [overlapTrigger]="false" yPosition="above">
              <button md-menu-item (click)="disableStudent(row, 14)">
                14 Days
              </button>
              <button md-menu-item (click)="disableStudent(row, 30)">
                30 Days
              </button>
            </md-menu>
          </md-cell>
        </ng-container>
        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
      <md-paginator #paginator
                    [length]="studentsDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </div>
</div>
