<div fxLayout="row" class="full-height">
  <div fxFlex="20">
    <div fxLayout="column">
      <div *ngIf="currentUser.info" fxLayout="column" fxLayoutAlign="start center" class="user-info-container">
        <ngx-avatar size="100" [src]="currentUser.info.profile_picture" [name]="currentUser.info.name" [value]="':)'"
                    class="profile-avatar" borderColor="#FFF" [round]="false" cornerRadius="4"></ngx-avatar>
        <p>{{currentUser.info.username}}</p>
        <a routerLink="/profile-settings">Edit profile</a>
      </div>
      <div fxLayout="column" fxLayoutAlign="start end">
        <md-button-toggle-group #group="mdButtonToggleGroup" [(ngModel)]="selected" vertical>
          <md-button-toggle value="askedQuestions">
            <md-icon>rss_feed</md-icon>
            Asked Questions
          </md-button-toggle>
          <md-button-toggle value="documents">
            <md-icon>cloud_done</md-icon>
            Documents
          </md-button-toggle>
          <md-button-toggle value="tutors">
            <md-icon>chat_bubble_outline</md-icon>
            Tutors you know
          </md-button-toggle>
          <md-button-toggle value="rewards">
            <md-icon>attach_money</md-icon>
            Rewards
          </md-button-toggle>
        </md-button-toggle-group>
      </div>
    </div>
  </div>
  <div fxFlex="80">
    <div fxLayout="column" fxLayoutAlign="start start" fxFill>
      <md-card fxFill>
        <div *ngIf="selected ==='askedQuestions'">
          <div *ngIf="!questions.length">
            You have not asked any questions
          </div>
          <div *ngIf="questions.length">
            <div *ngFor="let question of questions">
              {{question.title}}
            </div>
          </div>
        </div>
        <div *ngIf="selected ==='documents'">

        </div>
        <div *ngIf="selected ==='tutors'">

        </div>
        <div *ngIf="selected ==='rewards'">

        </div>
      </md-card>
    </div>
  </div>
</div>
