<div class="container" style="margin-top:20px; margin-bottom: 20px">
  <div class="row">
    <!--Profile Details-->
    <div class="col-md-8" *ngIf="!editFlag" style="margin:0px auto;">

      <div class="card hovercard" style="background:ghostwhite; font-size:20px; margin-bottom:20px;">
        <div class="cardheader">
        </div>
        <div class="avatar image-style">
          <img [src]="user.profile_picture || 'assets/images/user.png'" style="border: 2px solid lightblue; padding: 2px; width: 100%; margin: 0;">
          <button class="btn btn-link pencil-btn" (click)="editFlag = true">
            Edit Profile
          </button>
        </div>
        <div class="info">
          <div class="title">{{user.first_name + ' ' + user.last_name}}</div>
          <div class="desc" style="width:100%;">
            <div class="col" style="width:49%; float:left; margin-left: 5px; padding-left: 60px;"><b>Username:</b> {{user.username}}</div>
            <div class="col" style="width:49%; float:right; margin-left: 5px; padding-left: 60px;"><b>Gender:</b> {{user.gender}}</div>
          </div>
          <div class="desc"  style="width:100%;">
            <div class="col" style="width:49%; float:left; margin-left: 5px; padding-left: 60px;"><b>Email:</b> {{user.email}}</div>
            <div class="col" style="width:49%; float:right; margin-left: 5px; padding-left: 60px;"><b>Alternate Email:</b> {{user.alternate_email}}</div>
          </div>
          <div class="desc"  style="width:100%;">
            <div class="col" style="width:49%; float:left; margin-left: 5px; padding-left: 60px;"><b>Date Of Birth:</b> {{user.dob | date: 'dd-MMM-yyyy'}}</div>
            <div class="col" style="width:49%; float:right; margin-left: 5px; padding-left: 60px;"><b>Mobile:</b> {{user.phone}}</div>
          </div>
        </div>
      </div>
    </div>

    <!--End of profile details-->

    <!--Edit Profile details-->
    <div class="col-md-12" *ngIf="editFlag">
      <div class="card" style="background:cyan;">
        <div class="card-block">
          <form (submit)="save(form)" novalidate #form="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div style="width: 150px; margin:auto" class="text-center">
                  <img [src]="user.profile_picture || 'assets/images/user.png'" id="myimage"
                       style="border: 2px solid lightblue; padding: 2px; width: 100%; margin: 0;">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="file" class="form-control-file" (change)="attachmentsSelect($event)">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first_name"><b>First Name</b></label>
                  <input type="text" class="form-control" id="first_name" name="first_name"
                         [(ngModel)]="user.first_name" #first_nameField="ngModel"
                         required>
                  <p class="error-msg">
                    <span
                      *ngIf="first_nameField.touched && first_nameField.invalid">Please enter your first name!</span>&nbsp;
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last_name"><b>Last Name</b></label>
                  <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="user.last_name"
                         #last_nameField="ngModel"
                         required>
                  <p class="error-msg">
                    <span *ngIf="last_nameField.touched && last_nameField.invalid">Please enter your last name!</span>&nbsp;
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="username"><b>Username</b></label>
                  <input type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"
                         #usernameField="ngModel"
                         required minlength="3">
                  <p class="error-msg">
                    <span *ngIf="usernameField.touched && usernameField.invalid">Please enter a valid username!</span>&nbsp;
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"><b>Email</b></label>
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email"
                         #emailField="ngModel" required>
                  <p class="error-msg">
                    <span *ngIf="emailField.touched && emailField.invalid">Please enter a valid email!</span>&nbsp;
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="alternateEmail">Alternate Email</label>
                  <input type="email" class="form-control" id="alternateEmail"
                         placeholder="Enter alternate email address" required
                         pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
                         name="alternateEmail" [(ngModel)]="user.alternate_email" #alternateEmailField="ngModel">
                  <p class="error-msg">
                    <span *ngIf="alternateEmailField.touched && alternateEmailField.invalid">Invalid email!</span>
                    <span
                      *ngIf="alternateEmailField.touched && alternateEmailField.value && alternateEmailField.value == emailField.value">
                                    Alternate email can not be the same as your primary email!</span>
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone"><b>Phone</b></label>
                  <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone"
                         #phoneField="ngModel" maxlength="10">
                  <p class="error-msg">
                    <span *ngIf="phoneField.touched && phoneField.invalid">Please enter your phone!</span>&nbsp;
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="gender"><b>Gender</b></label>
                  <select class="form-control" id="gender" name="gender" [(ngModel)]="user.gender">
                    <option selected disabled value="">Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dob"><b>Date Of Birth</b></label>
                  <input type="date" class="form-control" id="dob" placeholder="Enter date of birth" name="dob"
                         [max]="today| date:'yyyy-MM-dd'"
                         [value]="user.dob | date:'yyyy-MM-dd'" (input)="user.dob=parseDate($event.target.value)"
                         required [min]="minDate | date:'yyyy-MM-dd'">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-right">
                  <button type="button" class="btn" (click)="editFlag=false">Cancel</button>
                  <button type="submit" class="btn btn-success" [disabled]="form.invalid || loading">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--End of profile details-->

  </div>
</div>
