<div fxFill>
  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <div class="subject-table-header">
      <md-input-container>
        <input mdInput placeholder="Add Subject" (keypress)="$event.keyCode==13 ? addSubject():null"
               [(ngModel)]="subject.name">
        <md-icon mdSuffix (click)="subject.name && addSubject()" class="cursor-pointer">add</md-icon>
      </md-input-container>
    </div>
  </div>
  <div fxLayout="row">
    <div class="subject-table-container mat-elevation-z8">
      <div class="subject-table-header">
        <md-input-container floatPlaceholder="never">
          <input mdInput #filter placeholder="Filter Subjects">
        </md-input-container>
      </div>
      <md-table #table [dataSource]="dataSource" mdSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container cdkColumnDef="name">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Name</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <label *ngIf="!row.editing">{{row.name}}</label>
            <md-input-container floatPlaceholder="never" *ngIf="row.editing">
              <input mdInput placeholder="Subject's Name" [(ngModel)]="row.name">
            </md-input-container>
          </md-cell>
        </ng-container>

        <!-- Action Column -->
        <ng-container cdkColumnDef="action">
          <md-header-cell *cdkHeaderCellDef> Action</md-header-cell>
          <md-cell *cdkCellDef="let row">
            <button md-raised-button (click)="row.editing=!row.editing; row.editing ? null:updateSubject(row)">
              {{row.editing?'SAVE':'EDIT'}}
            </button>
            <button md-raised-button (click)="deleteSubject(row)">
              DELETE
            </button>
          </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

      <md-paginator #paginator
                    [length]="subjectsDatabase.data.length"
                    [pageIndex]="0"
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 100]">
      </md-paginator>
    </div>
  </div>
</div>
