<div class="info-text-container">
  <div class="info-heading">HOW IT WORKS</div>
  <p>As a student/client, you first go to the “ask a question” page and post your assignment details. Now you wait some
    time for the tutors to place bid on the assignment page. Keep refreshing the page to check the latest bids posted on
    the website by the tutors. If you want any specific tutor to answer only, then you can invite that tutor using
    “invite selected tutors” option. Among all the bids posted by the tutors, you can click on their name and see the
    kind of works these tutors have provided. Once you are satisfied with a tutors profile, then you can accept their
    bid. Once the bid is accepted, you are supposed to make the minimum 60% of assignment price as advance payment. As
    soon as you make the advance payment, the tutor will start working on the assignment. He will keep updating you the
    status in every 24 hours. Once the tutor is finished and uploads the final answer, you are shown a preview of the
    answer. Preview is nothing but a trimmed copy of original file in which random paragraphs are removed from original
    file. Essentially it is 25 to 60% of the original file. Now, you are supposed to check the preview file and after
    you have done so, you are supposed to make the remaining 40% of the payment. Once you make the remaining payment,
    answer will be shown to you in full view. Now you are supposed to either deny or accept the answer. Please note that
    once an answer is accepted, the payment is released to the tutor and nothing can be done to get you the refund after
    that. You must accept or deny the answer within 7 days otherwise we auto-accept the answer. If, you have any
    revision requests etc, then you can simply ask the tutor by replying in the assignment thread.</p>
</div>
