<form (submit)="forgotPassword(forgotForm)" novalidate #forgotForm="ngForm">
  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <div fxFlex>
      <h2>Password Assistance</h2>
    </div>
    <md-input-container fxFlex>
      <input type="email" mdInput placeholder="Enter E-Mail" required name="email"
             [(ngModel)]="resetEmail"
             #emailField="ngModel" pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$">
      <md-error *ngIf="emailField.invalid && (forgotForm.submitted || emailField.touched)">
        Please enter a valid email.
      </md-error>
    </md-input-container>
    <button type="submit" md-raised-button [disabled]="forgotForm.invalid || loading">
      Submit
    </button>
  </div>
</form>
