<div class="container hhw-container">
<section class="hhw-responsive">
  <table class="table table-hover" *ngIf="!loading && transactions.length>0">
    <thead>
    <tr>
      <th>#</th>
      <th>Payment</th>
      <th>Question</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>${{transaction?.paid}}</td>
      <td>{{transaction?.question?.title}}</td>
      <td>{{transaction?.timestamp| date: 'h:mma, dd-MMM-yyyy'}}</td>
      <td><a href="javaScript:void(0)" (click)="raiseDispute(transaction)" >Dispute</a></td>

    </tr>
    </tbody>
  </table>
  <p *ngIf="!loading && transactions.length==0" class="payment-p">Hmmm, Looks like there are no transactions in the system!</p>
</section>
</div>
