<h4 id="header-name">Payment History</h4>
<div class="container hhw-container">
  <table class="table table-hover" *ngIf="!loading && transactions.length>0">
    <thead>
    <tr>
      <th style="color:darkviolet;">#</th>
      <th>Payment</th>
      <th>User</th>
      <th>Question</th>
      <th>Time</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of transactions; let i = index" [ngClass]="[(i%2==1)?'table-success':'table-warning']">
      <th scope="row" style="color:darkviolet;">#{{i+1}}</th>
      <td>${{transaction?.paid}}</td>
      <td>{{transaction?.user?.first_name}} {{transaction?.user?.last_name}}</td>
      <td>{{transaction?.question?.title}}</td>
      <td>{{transaction?.timestamp| date: 'h:mma, dd-MMM-yyyy'}}</td>
      <td><a href="javaScript:void(0)" (click)="refund(transaction)" >Refund</a></td>
    </tr>
    </tbody>
  </table>
  <div class="card hhw-empty-card" *ngIf="!loading && transactions.length==0">
    <div class="card-block text-center">
      <h6>Hmmm, Looks like there are no transactions in the system!</h6>
    </div>
  </div>
</div>
