.mat-list .mat-list-item .mat-line, .mat-nav-list .mat-list-item .mat-line {
  white-space: normal !important;
}

.spotlight-cards {
  padding: 5px;
}

.spotlight-cards img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%
}

.spotlight-cards md-card{
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.padding-right-1 {
  padding-right: 1rem;
}

.align-center {
  text-align: center;
}

.relative {
  position: relative;
}

.card-button-absolute {
  position: absolute;
  bottom: 0;
  left: 0;
}

.list-item-size {
  height: 7rem !important;
}

.p-r-10 {
  padding-right: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.image-circle {
  background-color: indianred;
  border-radius: 50%
}

.width-100 {
  width: 100%;
}

.chocalate {
  background-color: #714002;
}

.text-white {
  color: white;
}

.text-choclate {
  color: #714002;
}

.text-drakGray {
  color: darkgray;
}

.home-cover {
  background: url("../../../../assets/images/home-cover.jpg");
  background-size: cover;
}
