<div fxFill>
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
    <div class="home-cover" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
      <div class="spotlight-cards" fxFlex="25" *ngIf="currentUser.info && currentUser.info.status === 'privileged'">
        <md-card (click)="goTo('tutor/browse-questions')">
          <img src="assets/images/user.png">
          <md-card-title>Answer Questions</md-card-title>
          <md-card-subtitle>
            Answer new questions, private questions and find the questions you have placed bids on etc.
          </md-card-subtitle>
        </md-card>
        <div>
          <button md-button class="button-font-size width-100 text-white transparent" (click)="goTo('tutor/browse-questions')">
            Browse Questions
          </button>
        </div>
      </div>
      <div class="spotlight-cards" fxFlex="25">
        <md-card (click)="goTo('ask-a-question')">
          <img src="assets/images/user.png">
          <md-card-title>Ask Questions</md-card-title>
          <md-card-subtitle>Receive answers to homework, assignments, papers... etc.</md-card-subtitle>
        </md-card>
        <div fxFill>
          <button md-button class="button-font-size width-100 text-white transparent"
                  (click)="goTo('ask-a-question')">
            Ask a Question
          </button>
        </div>
      </div>
      <div class="spotlight-cards" fxFlex="25">
        <md-card (click)="goTo('ask-a-question')">
          <img src="assets/images/user.png">
          <md-card-title>Question Bank</md-card-title>
          <md-card-subtitle>Browse previously answered questions, documents etc.</md-card-subtitle>
        </md-card>
        <div fxFill>
          <button md-button class="button-font-size width-100 text-white transparent">
            Browse Question Bank
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around stretch" *ngIf="currentUser.info">
      <md-tab-group md-stretch-tabs class="full-width">
        <md-tab label="Active">
          <div fxLayout="row" fxLayoutAlign="space-between stretch" *ngFor="let question of activeQuestions">
            <div fxFlex>
              <img [src]="question.user.profile_picture" width="50px" height="50px" class="image-circle">
            </div>
            <div fxFlex>
              <p>{{question.title}}</p>
              <p>{{question.deadline|date:'medium'}}</p>
            </div>
            <div fxFlex>
              <p>$ {{question.price}}</p>
            </div>
            <div fxFlex>
              <p>{{question.bids.length}} bids</p>
            </div>
          </div>
        </md-tab>
        <md-tab label="Completed">
          <div fxLayout="row" fxLayoutAlign="space-between stretch" *ngFor="let question of completedQuestions">
            <div fxFlex>
              <!-- {question.imgUrl} -->
              <img src="assets/images/user.png" width="50px" height="50px" class="image-circle">
            </div>
            <div fxFlex>
              <p>{{question.title}}</p>
              <p>{{question.deadline}}</p>
            </div>
            <div fxFlex>
              <p>{{question.price}}</p>
            </div>
            <div fxFlex>
              <p>{{question.bid}}</p>
            </div>
          </div>
        </md-tab>
      </md-tab-group>
    </div>
    <md-divider></md-divider>
    <div fxLayout="row" fxLayoutAlign="space-around stretch">
      <div fxLayout="column">
        <div fxlayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
          <div fxFlex="50">
            <h3>How its works</h3>
            <md-list>
              <md-list-item class="list-item-size">
                <md-icon md-list-icon>folder</md-icon>
                <h4 class="text-choclate" md-line>1. Post your questions</h4>
                <p md-line>Post your question using the above link detailing all your instructions because tutor is
                  supposed to
                  follow that only</p>
              </md-list-item>
              <md-list-item class="list-item-size">
                <h4 class="text-choclate" md-line>2. Accept the bid </h4>
                <p md-line>As soon as you post the question, our tutors will start placing bids. you have to chooes one
                  of the tutor
                  as per your preference</p>
                <md-icon md-list-icon>note</md-icon>
              </md-list-item>
               <md-list-item class="list-item-size">
                <md-icon md-list-icon>folder</md-icon>
                <h4 class="text-choclate" md-line>3. Make Goodfaith advance payment</h4>
                <p md-line>In order for the tutor to start working on the questions, you are supposed to make an advance payment of 60% of the wquestion price. after the tutor completes the
                  answer , he will post a preview of the answer.
                </p>
              </md-list-item>
                 <md-list-item class="list-item-size">
                <md-icon md-list-icon>folder</md-icon>
                <h4 class="text-choclate" md-line>4. Get the final answer & revieww the tutor</h4>
                <p md-line>you are supposed to make the rest of the 40% payment.. Now, you can ask tutro to make revision if you are not satisfied with the work.
                  at the end you are supposed toleave a review for the tutor's answer.
                </p>
              </md-list-item>
            </md-list>
          </div>
          <md-divider class="vertical-divider" fxHide.lt-sm></md-divider>
          <div fxFlex="50">
            <h3>Why Choose us?</h3>
            <md-list>
              <md-list-item class="list-item-size">
                <md-icon md-list-icon>folder</md-icon>
                <h4 class="text-choclate" md-line>Anytime Help</h4>
                <p md-line>Our tutors remain online 24/7 so whenever you need help, you can assured that one of the tutor will serve you whatever may the time be.</p>
              </md-list-item>
              <md-list-item class="list-item-size">
                <md-icon md-list-icon>note</md-icon>
                <h4 class="text-choclate" md-line>Private information</h4>
                <p md-line>All your personal information is kept private and not shared with anyone.</p>
              </md-list-item>
              <md-list-item class="list-item-size">
                <md-icon md-list-icon>note</md-icon>
                <h4 class="text-choclate" md-line>Quality assurance</h4>
                <p md-line>We hire tutors who have gone through rigorous process in order to be a tutor here. these tutors have time and time again provided quality works without missing deadline. you can be assured that
                  that you would be provided same qqualityy work always within the agreed deadline.
                </p>
              </md-list-item>
              <md-list-item class="list-item-size">
                <md-icon md-list-icon>note</md-icon>
                <h4 class="text-choclate" md-line>Live Chat</h4>
                <p md-line>Using the live chat option, you can get any query solved ASAP during the business hours.
                  if you contact during off hours, then we will do our best to reply to your query at our earliest.
                </p>
              </md-list-item>

            </md-list>
          </div>
        </div>
        <div fxlayout="row" fxLayoutAlign="center center">
          <h3>Our Students Feedback</h3>
        </div>
        <md-grid-list cols="2" rowHeight="200px" fxShow.gt-sm fxHide.lt-md>
          <md-grid-tile
            *ngFor="let review of reviews; let i = index;"
            [colspan]="1"
            [rowspan]="1">
            <md-card>
              <md-list>
                <md-list-item>
                  <div>Rated: {{reviews[i].rating}}</div>
                </md-list-item>
                <md-list-item>
                  <div>{{reviews[i].comment}}</div>
                </md-list-item>
                <md-list-item>
                  <div class="text-drakGray">Related to the answer " out of mind" by: <a href=""> Shubham</a></div>
                </md-list-item>
              </md-list>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
        <md-grid-list cols="1" rowHeight="200px" fxHide.gt-sm fxShow.lt-md>
          <md-grid-tile
            *ngFor="let review of reviews; let i = index;"
            [colspan]="1"
            [rowspan]="1">
            <md-card>
              <md-list>
                <md-list-item>
                  <div>Rated: {{reviews[i].rating}}</div>
                </md-list-item>
                <md-list-item>
                  <div>{{reviews[i].comment}}</div>
                </md-list-item>
                <md-list-item>
                  <div class="text-drakGray">Related to the answer " out of mind" by: <a href="">Shubham</a></div>
                </md-list-item>
              </md-list>
            </md-card>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </div>
  </div>
</div>
